.Button {
  border-radius: 2px;
}
.Button.primary {
  border: 1px solid #004dc8;
  background-color: #004dc8;
  color: white;
}
.Button.secondary {
  border: 1px solid #004dc8;;
  background-color: white;
  color: #004dc8;
}