.Panel {
  border-top: 1px solid #c4c9cf;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 rgba(51,51,51,.3);
  border-right: 1px solid #c4c9cf;
  border-bottom: none;
  background-color: #ffffff;
  margin-bottom: 20px;
}

.Panel.sections .panel-body {
  padding: 0;
}

.Panel.sections .panel-body > * {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.Panel.sections .panel-body > .row {
  margin-left: 0;
  margin-right: 0;
}

.Panel.sections .panel-body > * > * {
  border: 1px solid #c4c9cf;
  padding: 15px;
}