div(class="panel nf-panel" ng-show='Game.loadedGame.id')
    .nf-panel-heading.nf-blue
        .row
            .col-lg-2.col-md-2
                button.nf-button.nf-orange.btn-md.btn(ng-click='Game.loadedGame = {}')
                    i.fa.fa-arrow-left
                button.nf-button.btn-md.btn.nf-blue(ng-click='Game.loadedGame.editing = true' ng-show='!Game.loadedGame.editing' ng-if='tournamentContext.admin')
                    i.fa.fa-pencil
                button.nf-button.btn-md.btn.nf-red(ng-click='Game.resetLoadedGame(); Game.loadedGame.editing = false' ng-show='Game.loadedGame.editing' ng-if='tournamentContext.admin')
                    i.fa.fa-times
                
            .col-lg-8.col-md-8.center 
                // h5(style='font-size:1.3em;margin:1.6%') {{Game.loadedGame.teams[0].teamInfo.name}} vs {{Game.loadedGame.teams[1].teamInfo.name}}
            .col-lg-2.col-md-2
                button.nf-button.nf-red.btn-md.btn.right(title='Delete Game.' ng-if='tournamentContext.admin' ng-click='Game.deleteGame(Game.loadedGame.id)')
                    i.fa.fa-trash

    .nf-panel-body.panel-body.nf-white
            form(name="Game.editGameForm" novalidate ng-class='{"readonly-form": !Game.loadedGame.editing}' ng-init='Game.loadedGame.editing = false')
                div(class="row")
                        div(class="col-lg-6 col-md-6 col-sm-6")
                            select(required class='form-control nf-input' ng-model='Game.loadedGame.teams[0].teamInfo' ng-change='Game.addTeam(Game.loadedGame.teams[0])',
                                ng-options='team.name for team in Game.teams | orderBy:"name" | preventSameMatchTeams:Game.loadedGame.teams[1].teamInfo.id track by team.id'
                                )
                                option(disabled value='') Choose a Team

                        div(class="col-lg-6 col-md-6 col-sm-6")
                            select(required class='form-control nf-input' ng-model='Game.loadedGame.teams[1].teamInfo' ng-change='Game.addTeam(Game.loadedGame.teams[1])', 
                                ng-options='team.name for team in Game.teams | orderBy:"name" | preventSameMatchTeams:Game.loadedGame.teams[0].teamInfo.id track by team.id')
                                option(disabled value='') Choose a Team
                            
                br
                div(class="row")
                    
                    div(class="col-lg-6 col-md-6 col-sm-6")
                        div(class='panel-default nf-panel nf-shadow')
                            table(class='table')                                   
                                thead
                                    tr(class='nf-blue')
                                        th(class='no-border nf-label')
                                        th(class='center no-border nf-label') TUH
                                        th(class='center no-border nf-label' ng-repeat='point in Game.pointScheme.tossupValues | orderBy: "value" ' ng-bind='point.value')
                                        th(class='center no-border nf-label') Total
                                tbody
                                    tr(ng-repeat='player in Game.loadedGame.teams[0].players track by player.id' class='nf-white')
                                        td(class='vertical-center' title='{{player.name}}' ng-bind='player.name')
                                        td
                                            input.nf-input(type='number' min='{{Game.numPlayerAnswers(player)}}' max='{{Game.loadedGame.tuh !== null ? Game.loadedGame.tuh : Number.POSITIVE_INFINITY}}' class='form-control input-sm' ng-model='player.tuh' ng-blur='player.tuh = (player.tuh === null ? 0 : player.tuh)', 
                                            name='{{player.id + "_tuh"}}' ng-class="{'nf-error' : Game.editGameForm[player.id + '_tuh'].$invalid}") 
                                        td(ng-repeat='point in Game.pointScheme.tossupValues | orderBy: "value"')
                                            input.nf-input(type='number' ng-pattern='/^[0-9]*$/' min='0' class='form-control input-sm' ng-model='player.points[point.value]' ng-blur='player.points[point.value] = (player.points[point.value] === null ? 0 : player.points[point.value])' name='{{player.id + point.value}}' ng-class="{'nf-error' : Game.editGameForm[player.id + point.value].$invalid, 'readonly' : player.tuh <= 0 || Game.editGameForm[player.id + '_tuh'].$invalid}")
                                        td 
                                            div(tabindex="-1" class='form-control readonly input-sm' ng-bind='Game.pointSum(player.points)')
                                        
                    div(class="col-lg-6 col-md-6 col-sm-6")
                        div(class='panel-default nf-panel nf-shadow')
                            table(class='table')                                   
                                thead
                                    tr(class='nf-blue')
                                        th.nf-label 
                                        th(class='center no-border nf-label') TUH
                                        th(class='center nf-label' ng-repeat='point in Game.pointScheme.tossupValues | orderBy: "value" ' ng-bind='point.value')
                                        th(class='center nf-label') Total
                                tbody
                                    tr(ng-repeat='player in Game.loadedGame.teams[1].players track by player.id' class='nf-white')
                                        td(class='vertical-center' title='{{player.name}}' ng-bind='player.name')
                                        td
                                            input.nf-input(type='number' min='{{Game.numPlayerAnswers(player)}}' max='{{Game.loadedGame.tuh !== null ? Game.loadedGame.tuh : Number.POSITIVE_INFINITY}}' class='form-control input-sm' ng-model='player.tuh' ng-blur='player.tuh = (player.tuh === null ? 0 : player.tuh)', 
                                            name='{{player.id + "_tuh"}}' ng-class="{'nf-error' : Game.editGameForm[player.id + '_tuh'].$invalid}") 
                                        td(ng-repeat='point in Game.pointScheme.tossupValues | orderBy: "value"')
                                            input.nf-input(type='number' ng-pattern='/^[0-9]*$/' min='0' class='form-control input-sm' ng-model='player.points[point.value]' ng-blur='player.points[point.value] = (player.points[point.value] === null ? 0 : player.points[point.value])' name='{{player.id + point.value}}' ng-class="{'nf-error' : Game.editGameForm[player.id + point.value].$invalid, 'readonly' : player.tuh <= 0 || Game.editGameForm[player.id + '_tuh'].$invalid}")
                                        td 
                                            div(tabindex="-1" class='form-control readonly input-sm' ng-bind='Game.pointSum(player.points)')
                                
                div(class="row")
                    div(class="col-lg-6 col-md-6 col-sm-6")
                        div(class="row")
                            div(class="col-sm-6 col-md-6")
                                label(class="label nf-blue nf-label btn-block" style='float:right') Team 1 Score *
                            div(class="col-md-6 col-sm-6 col-md-6")
                                input(required type="number" name='leftScore' ng-class="{'nf-error' : Game.loadedGame.leftScore.$invalid && Game.loadedGame.leftScore.$touched}"  class="form-control nf-input" placeholder="{{(Game.loadedGame.teams[0].teamInfo.name || 'Team 1') + ' Score'}}" ng-model='Game.loadedGame.teams[0].score')
                        br
                        div(class='row' ng-if='Game.rules.bouncebacks')
                            div(class="col-md-6 col-sm-6")
                                label(class="label nf-blue nf-label btn-block" style='float:right') Bouncebacks
                            div(class="col-md-6 col-sm-6")
                                input(type="number" min='0' class="form-control nf-input " name="leftbounceback" placeholder="Bounceback Points" ng-model='Game.loadedGame.teams[0].bouncebacks' ng-class="{'nf-error' : Game.loadedGame.leftbounceback.$invalid}")
                        br
                    div(class="col-lg-6 col-md-6 col-sm-6")
                        div(class="row")
                            div(class="col-md-6 col-sm-6")
                                input(required type="number" class="form-control nf-input " name="rightScore" ng-class="{'nf-error' : Game.editGameForm.rightScore.$invalid && Game.editGameForm.rightScore.$touched}" placeholder="{{(Game.loadedGame.teams[1].teamInfo.name || 'Team 2') + ' Score'}}" ng-model='Game.loadedGame.teams[1].score') 
                            div(class="col-md-6 col-sm-6")
                                label(class="label nf-blue nf-label btn-block" style='float:right') Team 2 Score *
                        br
                        div(class="row" ng-if='Game.rules.bouncebacks')
                            div(class="col-md-6 col-sm-6")
                                input(type="number" min='0' class="form-control nf-input " name="rightbounceback" ng-class="{'nf-error' : Game.editGameForm.rightbounceback.$invalid}" placeholder="Bounceback Points" ng-model='Game.loadedGame.teams[1].bouncebacks')
                            div(class="col-md-6 col-sm-6")
                                label(class="label nf-blue nf-label btn-block" style='float:right') Bouncebacks
                        br

                div(class="row")
                    div(class="col-lg-6 col-md-6 col-sm-6")
                        div(class="row")
                            div(class="col-md-6 col-sm-6")
                                label(class="label nf-blue nf-label btn-block" style='float:right') TUs with no bonuses
                            div(class="col-md-6 col-sm-6")
                                input(type="number" min='0' class="form-control nf-input " title='Tossups answered correctly that didn\'t lead to bonuses.' name="overtimetu1" placeholder="Tossups answered correctly that didn\'t lead to bonuses." ng-model='Game.loadedGame.teams[0].overtime' ng-class="{'nf-error' : Game.editGameForm.overtimetu1.$invalid}")
                    div(class="col-lg-6 col-md-6 col-sm-6")
                        div(class="row")
                            div(class="col-md-6 col-sm-6")
                                input(type="number" min='0' title='Tossups answered correctly that didn\'t lead to bonuses.' class="form-control nf-input " name="overtimetu2" placeholder="Tossups answered correctly that didn\'t lead to bonuses." ng-model='Game.loadedGame.teams[1].overtime' ng-class="{'nf-error' : Game.editGameForm.overtimetu2.$invalid}")
                            div(class="col-md-6 col-sm-6")
                                label(class="label nf-blue nf-label btn-block" style='float:right') TUs with no bonuses

                br

                .row
                    .col-lg-6.col-md-6.col-sm-6
                        .row
                            .col-md-6.col-sm-6
                                label.label.nf-blue.nf-label.btn-block(style='float:right') Bonuses / PPB 
                            .col-md-6.col-sm-6
                                .form-control.readonly.nf-input {{Game.teamBonusPoints(Game.loadedGame.teams[0])}} / {{Game.teamPPB(Game.loadedGame.teams[0]) | number:2}} PPB

                    .col-lg-6.col-md-6.col-sm-6
                        .row
                            .col-md-6.col-sm-6
                                .form-control.readonly.nf-input {{Game.teamBonusPoints(Game.loadedGame.teams[1])}} / {{Game.teamPPB(Game.loadedGame.teams[1]) | number:2}} PPB
                            .col-md-6.col-sm-6
                                label.label.nf-blue.nf-label.btn-block(style='float:right') Bonuses / PPB 
                br

                div(class="row")
                    div(class="col-lg-6 col-md-6 col-sm-6")
                        div(class="row")
                            div(class="col-md-6 col-sm-6")
                                label(class="label nf-blue nf-label btn-block" style='float:right') Round
                            div(class="col-md-6 col-sm-6")
                                input(required type="number" min='1' class="form-control nf-input " name="round" placeholder="Round" ng-model='Game.loadedGame.round' ng-class="{'nf-error' : Game.editGameForm.round.$invalid}")
                br

                div(class="row")
                    div(class="col-lg-6 col-md-6 col-sm-6")
                        div(class="row")
                            div(class="col-md-6 col-sm-6")
                                label(class="label nf-blue nf-label btn-block" style='float:right') Total TUH
                            div(class="col-md-6 col-sm-6")
                                input(type="number" min='{{Game.minPossibleTossupsHeard(Game.loadedGame)}}' class="form-control nf-input " name="tossupsheard" placeholder="Tossups Heard" ng-model='Game.loadedGame.tuh' ng-class="{'nf-error' : Game.editGameForm.tossupsheard.$invalid}")
                
                br
                
                div(class="row")
                    div(class="col-lg-6 col-md-6 col-sm-6")
                        div(class="row")
                            div(class="col-md-6 col-sm-6")
                                label(class="label nf-blue nf-label btn-block" style='float:right') Room
                            div(class="col-md-6 col-sm-6")
                                input(type="text" class="form-control nf-input " name="room" placeholder="Room" ng-model='Game.loadedGame.room')
                br
                
                div(class="row")
                    div(class="col-lg-6 col-md-6 col-sm-6")
                        div(class="row")
                            div(class="col-md-6 col-sm-6")
                                label(class="label nf-blue nf-label btn-block" style='float:right') Moderator
                            div(class="col-md-6 col-sm-6")
                                input(type="text" class="form-control nf-input " name="moderator" placeholder="Moderator" ng-model='Game.loadedGame.moderator')
                br
                div(class="row")
                    div(class="col-lg-6 col-md-6 col-sm-6")
                        div(class="row")
                            div(class="col-md-6 col-sm-6")
                                label(class="label nf-blue nf-label btn-block" style='float:right') Packet
                            div(class="col-md-6 col-sm-6")
                                input(type="text" class="form-control nf-input " name="packet" placeholder="Packet" ng-model='Game.loadedGame.packet')
                br
                div(class="row")
                    div(class="col-lg-6 col-md-6 col-sm-6")
                        div(class="row")
                            div(class="col-md-6 col-sm-6")
                                label(class="label nf-blue nf-label btn-block" style='float:right' data-toggle='tooltip' data-placement='left' title='Select all phases that you want this game to count for.') Phases* ({{Game.loadedGame.phases.length}})
                            div(class="col-md-6 col-sm-6")
                                select(multiple required class="form-control nf-input no-overflow" name='phases' ng-class='{"nf-error" : Game.editGameForm.phases.$invalid && Game.editGameForm.phases.$touched}' ng-attr-size='{{Game.phases.length}}' ng-options='phase.name for phase in Game.phases | orderBy:"name" track by phase.id' ng-model='Game.loadedGame.phases')
                                    
                br
                
                div(class='row')
                    div(class="col-lg-6 col-md-6 col-sm-6")
                        div(class="row")
                            div(class="col-md-4 col-sm-4")
                                label(class="label nf-blue nf-label btn-block" style='float:right;') Notes
                            div(class="col-md-8 col-sm-8")
                                textarea(class="form-control nf-input " name="notes" placeholder="Notes" style='min-height:200px' ng-model='Game.loadedGame.notes')
                
                hr
                
                button(type="submit" class="btn btn-md nf-green nf-button" ng-if='tournamentContext.admin' ng-disabled='Game.editGameForm.$invalid' ng-click='Game.editLoadedGame()' ng-show='Game.loadedGame.editing') Save Changes
    
    .nf-panel-footer.panel-footer.nf-gray.no-border
        h5(ng-bind='"Added by: " + Game.loadedGame.addedBy')