div(class="row")
    div(class="input-group col-lg-4 col-md-4 col-sm-12" style="margin-left:20px;margin-bottom:20px;")
        span(class='input-group-addon btn nf-button nf-blue' title='Reload games')
            i(class='fa fa-refresh')
        input(type="text" class="form-control nf-input" placeholder="Filter By Round or Team" ng-model='Game.gameQuery')

div(class="panel-default nf-panel")
    table(class="table table-condensed nf-shadow")
        thead
            tr
                th(class="table-head nf-white" ng-click='Game.sortType = "round"; Game.sortReverse = !Game.sortReverse') Round
                th(class="table-head nf-white") Phase(s)
                th(class="table-head nf-white") Team 1
                th(class="table-head nf-white") Team 2
                th(class="table-head nf-white") Tossups Heard
                
        tbody(id="gametablebody")
            tr(class='nf-list-item nf-dark-blue' ng-repeat='game in Game.games | orderBy:Game.sortType:Game.sortReverse | filter:Game.gameQuery track by game.id')
                td {{game.round}}
                td
                td {{game.team1.team_name + ' (' + game.team1.score + ')'}}
                td {{game.team2.team_name + ' (' + game.team2.score + ')'}}
                td {{game.tossupsheard}}
