div(ng-show='!Game.loadedGame.id')

    div(class="row")
        div(class="input-group col-lg-4 col-md-4 col-sm-12" style="margin-left:20px;margin-bottom:20px;")
            span(class='input-group-addon btn nf-button nf-blue' title='Reload games' ng-click='Game.getGames()')
                i(class='fa fa-refresh')
            input(type="text" class="form-control nf-input" placeholder="Filter By Round or Team" ng-model='Game.gameQuery')

    div(class="nf-panel")
        table(class="table table-condensed nf-shadow")
            tr
                th(class="table-head nf-gray" ng-click='Game.sortType = "round"; Game.sortReverse = !Game.sortReverse') Round
                th(class="table-head nf-gray") Phase(s)
                th(class="table-head nf-gray") Team 1
                th(class="table-head nf-gray") Team 2
                
            tr(class='nf-list-item nf-white' ng-repeat='game in Game.games | orderBy:Game.sortType:Game.sortReverse | filter:Game.matchSearch track by game.id' ng-click='Game.loadGame(game.id)')
                td(ng-bind='game.round')
                td
                    p(ng-repeat='phase in Game.phases track by phase.id' ng-if='game.phases[phase.id] === true' ng-bind='phase.name')
                td(ng-repeat='team in Game.teams track by team.id' ng-if='team.id === game.teams.one.id' ng-bind='team.name + " (" + game.teams.one.score + ")"')
                td(ng-repeat='team in Game.teams track by team.id' ng-if='team.id === game.teams.two.id' ng-bind='team.name + " (" + game.teams.two.score + ")"')
            

