.playerbox {
    background: rgba(0, 140, 130, .7);
    padding: 10px;
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);*/
    font-size: 14px;
    border-radius: 2px;
}

.cell {
    background-color:rgb(236, 236, 236);
    padding:5px;
    box-shadow: 0 .05px .05px rgba(0, 0, 0, 0.5);
}

.cell:hover {
    cursor: pointer;
}

.gotten-bonus {
    background-color: #5CB85C;
    color: white;
}

.gotten-bonus:focus {
    color: white;
}

.not-gotten-bonus {
    background-color: #E6E6E6;
    color: black;
}

.not-gotten-bonus:focus {
    color: black;
}

.neg-box {
    position:absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    background-color:rgba(200, 200, 200, .9);
    border-radius: 3px;
    padding:50px;
    text-align: center;
    display: none;
}

.undo-neg {
    vertical-align: middle;
    padding: 25px;
}

.btn {
    border-radius: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(1px);
}

.btn-point {
    margin:2px;
    border-radius: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    /*transform: translateY(-15px);*/
}

.btn-point:active {
    transform: translateY(2px);
}

.teamselect {
    color:black;
    /*border-width: 0px;*/
    border-radius: 3px;
}

.player-header {
    background-color: #47A6A6;
    border-width: 0px;
    color: white;
}

.list-group-item {
    padding:0px;
    font-size: 16px;
    background: #F0F0F0;
}

td {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

thead th {
    text-align: center;
    padding: 10px;
    background-color: white;
    font-size: 14px;
}

.table-bordered {
    border-width: 1px;
}

.active-row {
    background-color: #DFF0D8;
}

.active-player {
    background-color: rgb(198, 228, 184);
    color : #3C763D;
}

.btn-xl {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.input-xs {
    padding: 2px;
    border-radius: 3px;
  }

  .center-text {
      text-align: center;
  }

.player-table tr:hover {
    cursor: pointer;
}

.input-scoresheet {display: block; padding: 0; margin: 0; border: 0; width: 100%; text-align: center;}

.td-scoresheet {margin: 0; padding: 0;}

#dead-tossup {
    background-color: rgba(15, 15, 15, .8);
    color: white;
}

#dead-tossup:hover {
    background-color: rgba(20, 20, 20, 1);
}

#scoresheet tbody td:not(.tossup-number):not(.total-td):hover {
    cursor: pointer;
    background-color: #FCF8E3;
}
