.title {
    font-weight: bold;
    color: white;
    font-size: 18px;
    background-color:#363B40;
    padding: 15px;
    width: 100%;
    border-left: 20px solid #008888;
    border-radius: 3px;
}

.subtitle {
    font-weight: bold;
    color: white;
    font-size: 18px;
    background-color:#363B40;
    padding: 15px;
    width: 100%;
    border-left: 20px solid #EC971F;
    border-radius: 3px;
}

.stat-title {
    color: white;
    font-size: 12px;
    background-color:#363B40;
    padding: 15px;
    width: 100%;
    border-bottom-width: 7px;
    border-bottom-style: solid;
    border-bottom-color:  #008888;
}

.top-nav-bar {
    background-color: #008888;
    box-shadow: 0 5px 4px rgba(150, 150, 150, .5);
    border-radius:0px;
    /*border-bottom: 10px solid #008888;*/
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.logo {
    background-image: url("../img/logo.png");
}


.form-control {
    -webkit-transition: 1.0s ease border-bottom-color;
    -moz-transition: 1.0s ease border-bottom-color;
    -o-transition: 1.0s ease border-bottom-color;
    -ms-transition: 1.0s ease border-bottom-color;
    transition: 1.0s ease border-bottom-color;
    outline:none;
}

.nav-bar > li > a {
    color: black;
    border-radius: 0px;
    border-left: 15px solid #EC971F;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.nav-bar > li.active > a, .nav-bar > li.active > a:hover, .nav-bar > li.active > a:focus {
    background-color:rgb(0, 136, 136);
    border-left-width: 15px;
    border-left-style: solid;
    border-left-color: #EC971F;
    border-radius: 3px;
    color: white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.no-border-radius {
    border-radius: 2px;
}

.smallbox {
    background: rgba(0, 140, 130, .7);
    padding: 40px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.user-screen {
    padding: 40px;
    background: rgb(0, 113, 113);
}

.jumbotron {
    background-color: transparent;
}

div p {
    word-wrap: break-word;
}

.table-grey {
    background-color : rgb(190, 190, 190);
    color:black;
    border-radius: 5px;
    text-align: center;
}


tr {
    background-color: white;
    white-space: nowrap;
}

td {
    white-space: nowrap;
}

.stat-td {
    text-align: center;
}

.info-label {
    padding: 10px;
    font-size: 24px;
}

.phase-box {
    border-radius: 1px;
}

.nf-dark-blue {
    background: rgb(0, 136, 136);
}

.statbox {
    margin:10px;
    padding:10px;
    padding-bottom: 0px;
    background-color:rgb(212, 212, 212);
    border-radius: 3px;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;
    -ms-transition: background-color .5s;
    transition: background-color .5s;
}

.statbox:hover {
    background-color:rgb(200, 210, 210);
}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}

:-ms-input-placeholder {
   color: white;
}

.point-box {
    border-radius: 2px;
}

.point-box-disabled {
    border-radius: 2px;
}

.gp-box {
    border-radius: 2px;
}

.tournament-info-field {
    border-radius: 3px;
    border-color: transparent;
    color: black;
}

.division-name {
    border-width: 1px;
    border-radius: 1px;
    border-right-width: 20px;
    margin-bottom: 5px;
}

.active-phase {
    background-color: #DFF0D8;
}

.saved {
    border-right-color: #008888;
    border-width: 1px;
    border-radius: 1px;
    border-right-width: 20px;
}

.not-saved {
    border-right-color: red;
    border-width: 1px;
    border-radius: 1px;
    border-right-width: 20px;
}

.removecollab {
    float:right;
}

.collab-box {
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;
    -ms-transition: background-color .5s;
    transition: background-color .5s;
    background: rgba(100, 100, 100, .1);
    border-left-width: 10px;
    border-left-style: solid;
    border-radius: 2px;
    margin: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.collab-box:hover {
    background: rgba(100, 100, 100, .15);
}

.admin {
    border-left-color: #008888;
}

.not-admin {
    border-left-color: #EC971F;
}

.master-admin {
    border-left-color: #31B0D5;
}

.btn {
    margin: 10px;
    border-radius: 1px;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;
    -ms-transition: background-color .5s;
    transition: background-color .5s;
}

.tournament-info-field::-webkit-input-placeholder
{
  color: black;
}

.tournament-info-field:-moz-placeholder
{
  color: black;
}

.tournament-info-field::-moz-placeholder
{
  color: black;
}

.tournament-info-field:-ms-input-placeholder
{
  color: black;
}

.panel {
    margin-top: : 50px;
    margin-bottom: 50px;
}

.clickable-link {
    -webkit-transition: background-color .1s;
    -moz-transition: background-color .1s;
    -o-transition: background-color .1s;
    -ms-transition: background-color .1s;
    transition: background-color .1s;
}

.clickable-link:hover {
    background-color: #DFF0D8;
    border-left: 21px solid #008888;
    cursor: pointer;
}

.bordered-button-green {
    border-left: 10px solid green;
}

.tournament-anchor {
    font-size: 1.2em;
}

.tournament-anchor:hover {
    background-color: #DFF0D8;
    cursor: pointer;
}

.btn-shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.btn-shadow:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.loading {
    margin-left:10px;
    margin-right:10px;
    color: #EC971F;
}

.loading-complete {
    margin-left:10px;
    margin-right:10px;
    color: green;
}

th.sortable:hover {
    cursor: pointer;
}

.team-name-list {
    font-size: 1.0em;
    text-align: center;
    border-left-width: 20px;
    border-left-style: solid;
    border-left-color: #EC971F;
}

.game-list-element {
    font-size: 1.0em;
    text-align: center;
}

.bordered-game-list-element {
    border-left-width: 20px;
    border-left-style: solid;
    border-left-color: #EC971F;
}

.tournament-panel {
    background-color: #F7F7F7;
}

.tab-pane {
    margin-top: : 50px;
    margin-bottom: 50px;
}

.brushed {
     background-image: url("/img/backgrounds/brushed.png");
}

.collapsable:hover {
    cursor: pointer;
}

.panel-body {
    border-radius: 5px;
}

.summary-box {
    padding:20px;
    font-size:18px;
    border-radius:2px;
}

.team-summary-box {
    padding:20px;
    font-size:1.4em;
    border-radius:2px;
    margin-bottom: 5px;
    box-shadow: 3px 2px 4px rgba(150, 150, 150, .5);
}

.team-summary-box:hover {
    box-shadow: 4px 3px 4px rgba(150, 150, 150, .5);
}

.tournament-options {
    background-color: rgba(170, 200, 200, .2);
    box-shadow: 3px 5px 4px rgba(150, 150, 150, .5);
    border: 2px solid rgba(180, 200, 200, .6);
    border-left: 0px;
    position: fixed;
    border-radius: 4px;
}

.tournament-options:hover {
    background-color: rgba(180, 200, 200, .25);
    box-shadow: 4px 6px 4px rgba(150, 150, 150, .55);
}

#gamedataform input, #changegameform-edit input {
    border-radius: 1px;
    text-align: right;
}

.label {
    border-radius: 1px;
    font-size: 14px;
    padding: 5px;
}

.game-help {
    border-bottom: 1px solid black;
    color: black;
}

.table-head {
    background: rgb(0, 136, 136);
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;
    -ms-transition: background-color .5s;
    transition: background-color .5s;
    color : white;
    text-align: center;
}

.table-head:hover {
    background: rgba(0, 136, 136, .8);
    color : white;
}

.disabledview:hover {
    cursor : default;
}

.tab-content {
    padding: 10px;
    border-width: 5px;
    border-color: black;
}

.btn-stats {
    background: rgb(0, 136, 136);
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;
    -ms-transition: background-color .5s;
    transition: background-color .5s;
    color : white;
}

@media print {
  a[href]:after {
    content: none !important;
  }
}
