.title {
    font-weight: bold;
    color: white;
    font-size: 18px;
    background-color:#363B40;
    border-width: 10px;
    padding: 15px;
    width: 100%;
    border-radius: 3px;
}


.box {
    /*background-color : rgba(190, 190, 190, .7);*/
    background-color: transparent;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color:rgb(0, 136, 136);
}

.smallbox {
    background: rgba(0, 140, 130, .7);
    padding: 40px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.user-screen {
    padding: 40px;
    background: rgb(0, 113, 113);
    /*box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);*/
}

.jumbotron {
    background-color: transparent;
}

div p {
    word-wrap: break-word;
}

.table-grey {
    background-color : rgb(190, 190, 190);
    color:black;
    border-radius: 5px;
    text-align: center;
}


tr {
    font-size: 16px;
    /*font-weight: bold;*/
    background-color: white;
    white-space: nowrap;
}

td {
    white-space: nowrap;
}

.info-label {
    padding: 10px;
    font-size: 24px;
}

.label-primary {
    background: rgb(0, 136, 136);
}

.statbox {
    margin:10px;
    padding:10px;
    padding-bottom: 0px;
    background-color:rgb(212, 212, 212);
    border-radius: 3px;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;
    -ms-transition: background-color .5s;
    transition: background-color .5s;
}

.statbox:hover {
    background-color:rgb(200, 210, 210);
}

::-webkit-input-placeholder {
   color: white;
   font-weight: bold;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;
   font-weight: bold;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;
   font-weight: bold;
}

:-ms-input-placeholder {
   color: white;
   font-weight: bold;
}

.tournament-info-field {
    border-radius: 3px;
    border-color: transparent;
    /*border-style: solid;*/
    /*background-color: #E6E6E6;*/
    /*background-image: url("/img/backgrounds/tweed.png");*/
    /*border-width: 0px;*/
    color: white;
}

.collab-box {
    border-radius: 5px;
    border-style: solid;
    background-color: #E6E6E6;
    color: black;
}

.btn {
    margin: 10px;
    border-radius: 2px;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;
    -ms-transition: background-color .5s;
    transition: background-color .5s;
}

.tournament-info-field::-webkit-input-placeholder
{
  color: white;
}

.tournament-info-field:-moz-placeholder
{
  color: white;
}

.tournament-info-field::-moz-placeholder
{
  color: white;
}

.tournament-info-field:-ms-input-placeholder
{
  color: white;
}

.panel {
    margin-top: : 50px;
    margin-bottom: 50px;
}

.tab-pane {
    margin-top: : 50px;
    margin-bottom: 50px;
}

.brushed {
     background-image: url("/img/backgrounds/brushed.png");
}

.panel-default > .panel-heading {
  background-image: url("/img/backgrounds/brushed_alu_dark.png");
  color : white;
  font-weight: bold;
  font-size: 24px;
}

.panel-default:hover > .panel-heading {
  font-weight: bold;
  font-size: 24px;
}

.panel-default > .panel-body {
    font-size: 24px;
    background-color: rgb(249, 249, 249);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}


.collapsable:hover {
    cursor: pointer;
}

.leftscorebox {
    width: 25%;
    transform: translateX(300%);
    border-radius: 0px;
}

.rightscorebox {
    width: 25%;
    border-radius: 0px;
}

.table-head {
    background: rgb(0, 136, 136);
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;
    -ms-transition: background-color .5s;
    transition: background-color .5s;
    color : white;
}

.table-head:hover {
    background: rgba(0, 136, 136, .8);
    color : white;
}

.disabledview:hover {
    cursor : default;
}

.tab-content {
    padding: 10px;
    border-width: 5px;
    border-color: black;
}

.btn-stats {
    background: rgb(0, 136, 136);
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;
    -ms-transition: background-color .5s;
    transition: background-color .5s;
    color : white;
}

@media print {
  a[href]:after {
    content: none !important;
  }
}
