div(class="panel panel-default nf-panel")
    div(class="collapsable nf-panel-heading nf-dark-blue") Stats
    div(class="nf-panel-body panel-body tournament-panel")
        div(class="col-md-12")                        
            .row
                .col-md-6.col-sm-6.col-lg-6
                    .list-group.nf-shadow
                        a(class='list-group-item nf-blue') Statistics
                        a(target="_blank" href='/t/{{::tournamentId}}/stats' class="stat-link nf-dark-blue list-group-item nf-list-item" data-stats-type='team') Go to Stats
            .row
                .col-md-6.col-sm-6.col-lg-6
                    .list-group.nf-shadow       
                        a(class='list-group-item nf-blue') Export     
                        a(href="/api/t/{{::tournamentId}}/qbj" class="download list-group-item nf-dark-blue nf-list-item") QBJ (NAQT)
                        a(href="/api/t/{{::tournamentId}}/scoresheets" class="download list-group-item nf-dark-blue nf-list-item") Scoresheets



        div(class="col-md-6 col-sm-12")
            div(class='col-sm-6')
                //- a(href="/t/" + tournament.shortID + "/export/qbj" class="btn btn-md nf-orange nf-button btn-block" data-link="#{linkName}_qbj.qbj" id="download-json") QBJ Format
            div(class='col-sm-6')
                //- a(href="/t/" + tournament.shortID + "/export/scoresheets" class="btn btn-md nf-orange nf-button btn-block" data-link="#{linkName}_scoresheets.zip" id='download-scoresheets') Scoresheets

    
    
//- div(class="panel nf-panel panel-default")
//-     div(class="collapsable nf-panel-heading nf-dark-blue") Custom Team Statistics
//-     div(class="panel-body nf-panel-body tournament-panel")
//-             div(class="col-md-12")
//-                 form(target="_blank" method="get" action='{{"/t/" + tournamentId + "/stats/filter/teams"}}')
//-                     .row
//-                         .col-lg-4.col-md-4.col-sm-6
//-                             select(class='form-control nf-input no-overflow' ng-attr-size='{{Statistics.teams.length}}' ng-model='Statistics.selectedTeams' ng-options='team.name for team in Statistics.teams | orderBy:"name" track by team.id' multiple)
//-                         .col-lg-4.col-md-4.col-sm-6
//-                             .row
//-                                 input(class="form-control nf-input " type="number" name="minround" placeholder="Min Round")
//-                             br
//-                             .row
//-                                 input(class="form-control nf-input" type="number" name="maxround" placeholder="Max Round")
//-                             br
//-                             .row
//-                                 button(type="button" class="btn btn-md btn-block nf-button nf-blue custombutton" data-post-url="/t/{{::tournamentId}}/stats/filter/teams") Generate Team Stats
//-                             .row
//-                                 button(type="button" class="btn btn-md nf-button btn-block nf-blue custombutton" data-post-url="/t/{{::tournamentId}}/stats/filter/players") Generate Player Stats
