div(class="panel panel-default nf-panel")
    .nf-panel-heading.nf-blue Stats
    div(class="nf-panel-body panel-body nf-white tournament-panel")
        div(class="col-md-12")                        
            .row
                .col-md-6.col-sm-6.col-lg-6
                    a(target="_blank" href='/t/{{::tournamentId}}/stats' class="stat-link nf-button nf-green btn no-border " data-stats-type='team') Go to Stats
            br
            .row
                .col-md-6.col-sm-6.col-lg-6
                    .list-group.nf-shadow       
                        a(class='list-group-item nf-blue') Export       
                    button.nf-button.nf-green.btn.btn-md(ng-click='Statistics.downloadQBJ()') QBJ
                        i.fa.fa-download