.row.CollaboratorTab
    .col-lg-5.col-sm-12.col-md-6(ng-if='tournamentContext.admin === true' ng-controller='CollaboratorSearchCtrl as CollabSearch')
        div(class="col-md-12 col-sm-12 col-lg-12")
            .input-group
                span.input-group-addon(tooltip data-placement="right" message='Normal collaborators have access to only the overview, matches, teams, and scoresheet tabs. Granting someone admin permissions will grant them access to the configuration and collaborators tabs.')
                    i.fa.fa-question
                input(type="text" ng-model='CollabSearch.searchQuery.query' class="form-control nf-input" ng-keyup='CollabSearch.handleKeyPress($event)' placeholder="Search for other users by email or name.")
                span.input-group-addon.no-border.btn.Button.primary(ng-click='CollabSearch.resetSearch()')
                    | Reset 
            
        div(style='margin-top:75px' class='collab-search-results')
            .col-lg-12.col-md-12.col-sm-12(ng-repeat='result in CollabSearch.searchResults | orderBy: "username" track by $index')
                .input-group
                    div.form-control.nf-input.nf-white(ng-bind='result.username')
                    span.input-group-addon.no-border.btn.nf-button.button-outline.button-outline-green(ng-click='CollabSearch.addCollaborator(result.username, true)') Add as Admin
                    span.input-group-addon.no-border.nf-button.button-outline.button-outline-blue.btn(ng-click='CollabSearch.addCollaborator(result.username, false)') Add
                br
                
    .col-lg-7.col-sm-12.col-md-6(ng-controller='CollaboratorListCtrl as CollabList' ng-if='tournamentContext.admin === true')

        .col-lg-6.col-md-6.col-sm-12(ng-repeat='collab in CollabList.collaborators | orderBy:["username"]')
            .input-group
                span.input-group-addon.btn(ng-click='!tournamentContext.owner || CollabList.toggleAdmin(collab)' ng-class="{'nf-green' : collab.admin, 'nf-gray' : !collab.admin}" title='{{tournamentContext.owner ? "Toggle admin priviledges" : ""}}') {{collab.admin ? 'A' : ''}}
                div.nf-white.nf-input.form-control.btn.readonly(ng-bind='collab.username')
                span.input-group-addon.Button.primary.no-border(role='button' ng-click='CollabList.removeCollaborator(collab.username)' ng-if='tournamentContext.owner === true')
                    i.fa.fa-trash
            
            br
