.row
    .col-lg-4.col-sm-12.col-md-6(ng-if='tournamentContext.admin === true')
        div(class="panel panel-default nf-panel")
            div(class="collapsable nf-panel-heading nf-dark-blue") Add Collaborator
            div(class="panel-body nf-panel-body tournament-panel")
            
                .row
                        div(class="col-md-12 col-sm-12 col-lg-12")
                            input(type="text" ng-model='Collab.searchQuery' class="form-control nf-input" ng-keyup='Collab.getKeyPress($event)' placeholder="Search for other users.")
                .row
                    div(class="col-md-12 col-sm-12 col-lg-12")

                        br
                        .row
                            .col-lg-12
                                .input-group(ng-repeat='result in Collab.searchResults | orderBy: "username" track by $index')
                                    div.form-control.nf-input.nf-dark-blue.no-border {{result.username}}
                                    span.input-group-addon.no-border.nf-button.nf-green(ng-click='Collab.addCollaborator(result.username, true)') Add as Admin
                                    span.input-group-addon.no-border.nf-button.nf-blue(ng-click='Collab.addCollaborator(result.username, false)') Add

    .col-lg-8.col-sm-12.col-md-6
        div(class="panel panel-default nf-panel")
            div(class="collapsable nf-panel-heading nf-dark-blue") Collaborators ({{Collab.collaborators.length}})
            div(class="panel-body tournament-panel nf-panel-body")        
                    
                .row
                    .col-md-12.col-sm-12.col-lg-12
                        .input-group.nf-margin(ng-repeat='collab in Collab.collaborators | orderBy: ["username"]') 
                            span.input-group-addon.btn.nf-button(ng-click='!tournamentContext.owner || Collab.toggleAdmin(collab)' ng-class="{'nf-green' : collab.admin, 'nf-blue' : !collab.admin}" title='Toggle Admin priviledges') {{collab.admin ? 'Admin' : ''}}
                            div.form-control.nf-input.nf-gray.no-border.nf-dark-blue.nf-list-item(style='padding:10px') {{collab.username}} | {{collab.name}} 
                            span.input-group-addon.nf-red.btn.nf-button(role='button' ng-click='Collab.removeCollaborator(collab.username)' ng-if='tournamentContext.admin === true')
                                i.fa.fa-trash  
                                
