@import url('http://getbootstrap.com/dist/css/bootstrap.css');
 html, body, .container-table {
    height: 100%;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: white;
    text-align: center;
    font-size: 36px;
    /*margin-bottom: 100px;*/
}

h4 {
    color : white;
}

p {
    color : white;
}

a {
        margin: 10px;
}

.list-element {
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;
    -ms-transition: background-color .5s;
    transition: background-color .5s;
}

.navbar-anchor {
    color: white;
}

.body {
    /*background-image: url("../img/backgrounds/gplaypattern.png");*/
    /*background-color: black;*/
    background-image: url("../img/backgrounds/brushed.png");
}

.header {
    border-width: 0px;
}

.center-text {
    text-align: center;
}

.center-in-div {
    margin: 10px;
}


.no-border-radius {
    border-radius: 0px;
}

.vertical-center {
    min-height: 100%;
    min-width: 100%
    display:flex;
    align-items: center;
}

.infofield {
    border-radius: 5px;
    width: 60%;
    color: black;
    font-weight: bold;
    font-size: 24px;
}

.parent {
  position: relative;
}

.child {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.modal.fade.in{
    top:50%;
    transform: translateY(-50%);
}

.modal.fade:not(.in) .modal-dialog {
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 50%, 0);
}

#registerWindow {
    z-index: 1;
    left: -200%;
}

.userbox {
    background-color: rgba(10, 10, 10, .3);
    /*background-color: rgb(0, 128, 128);*/
    /*background-color: transparent;*/
    border-radius: 5px;
    padding: 10px;
    /*border-width: 10px;*/
    position: absolute;
    text-align: center;
}

.title-header {
    padding: 15px;
    width: 100%;
    border-bottom: 10px solid #EC971F;
    border-radius: 3px;
}

.btn {
    border-width: 3px;
    border-right-width:0px;
    border-left-width: 0px;
    border-radius: 5px;
    padding: 15px 22px;
    line-height: 1.33;
    margin: 10px;
    font-size: 1.6em;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;
    -ms-transition: background-color .5s;
    transition: background-color .5s;
}

.btn:hover {
    color: white;
    background-color:#406266;
}

.list-group-item {
    border-width: 0;
    font-size: 18px;
}

.circle {
    border-radius: 50%;
}

#errorlabel {
    color: white;
    font-size: 24px;
}

#masterbox {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.navbar-brand img{height:100%;}

@media screen and (min-width:767px){
    .navbar-brand-centered {
        position: absolute;
        /*left: 50%;*/
        display: block;
        width: 300px;
        text-align: center;
        background-color: transparent;
    }

    .navbar>.container .navbar-brand-centered,
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }


    .navbar-nav>li>a {padding-top: 5px;padding-bottom: 15px;
    }

    .navbar-brand{top: 0px;}

    .navbar-brand-centered{height:120px;}

    .navbar-default {
        background-color:transparent;
        border-color:transparent;
        padding-top: 0px;
    }

    nav:hover {
        background-color: #008888;
    }
}

@media (max-width: 801px) {
.navbar-default{padding-top:0;}
.navbar-brand{padding: 10px 10px;}
.navbar-brand-centered{height:100px;}
.navbar-toggle{bottom:-20px;}
}
