.nv-axisLabel {
    font-weight: bold;
}

.nv-parallelCoordinates > path {
    stroke-width: 2px;
}
.nv-parallelCoordinates > path:hover {
    stroke-width: 4px;
}
.section {
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}