.nf-background-main {
    /*background-color: #455a64;*/
    /*background-color: #EAEAEA;*/
    background-color: #E0E0E0;
}

.nf-image {
    background-image: url('./Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.nf-button > .fa {
    margin-left: 10px;
}

.nf-button {
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    font-size: 1.3em;
}

.nf-button.transition, .input-group.transition {
    transition: .1s all;
}
.nf-button.transition:hover, .input-group.transition {
    cursor: pointer;
}

.warning-text {
    color: #fbc02d !important;
}

.nf-modal-content {
    border: none;
}

.neg-box {
    display: block;
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    z-index: 50;
    padding: 45px;
    background: rgba(200, 200, 200, .9);
    text-align: center;
}

table.player-table * td:first-child:hover {
    cursor: pointer;
}


.relative {
    position: relative;
}

form.readonly-form * input, form.readonly-form * select, form.readonly-form * textarea {
    pointer-events: none;
    background: #f8f5f0;
}

.navbar-collapse * li > a {
    color: white !important;
}

li.active > a {
    /*color: lightgreen !important;*/
    background-color: transparent !important;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    border-bottom: 5px solid #90a4ae;
}

li > a:hover {
    cursor: pointer;
}

.active-phase {
    background-color: #B2DFDB;
}

.inline {
    display: inline;
}

.left {
    float: left;
}

.right {
    float: right;
}

.nf-dropdown {
    border-radius: 1px;
    width: 50%;
}
.nf-dropdown > li > a {
    font-size: 1.3em;
    padding: 10px;
}

.nf-card {
    box-shadow: 0 2px 3px rgba(0,0,0,.05);
    padding: 20px;
    font-size: 18px;
    border-radius: 2px;
}

.nf-error {
    border: 3px solid red;
}

.nf-text-warning {
    color: #FFA000;
}

.nf-input {
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    font-size: 1.3em;
}
.nf-input:focus {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.nf-label {
    padding: 10px;
    font-size: 1.3em;
    line-height: 140%;
    font-weight: 400;
}

.list-group-item.nf-blue {
    border: none;
    color: white;
}
.list-group-item.nf-blue:hover {
    background: #2B3E50;
    color: white;
}

.nf-list-item {
    border: 0px solid black;
    padding: 15px;
    font-size: 1.3em;
}
.nf-list-item:hover {
    background: #90a4ae !important;
    cursor: pointer;
}

.nf-margin {
    margin: 5px;
}

.nf-panel {
    /*border-color: #455a64;*/
    border-radius: 2px;
    background-color: transparent;
}

.nf-panel-heading {
    padding: 20px;
    font-size: 1.5em;
    /*border-color: #455a64 !important;*/
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.nf-panel-body {
    /*background-color: #455a64; */
}

.nf-panel-footer {
    border:none;
}

.nf-select {
    border-radius: 2px;
}

.nf-shadow {
    /*box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);*/
}

.nf-th {
    text-align: center;
}

.nf-th-short {
    width: 100px;
}

.nf-tr:hover {
    cursor: pointer;
    background-color: #e0f7fa;
}

/** Neg 5 colors */

.nf-white {
    background-color: #fafafa;
}

.nf-black {
    background-color: #212121;
    color: white;
}

.nf-blue {
    background-color: #2B3E50;
    color: white;
}

.nf-blue-text {
    color: blue;
}

.nf-dark-blue {
    background-color: #37474F !important;
    color: white !important;
}

.nf-gray {
   background-color: #ECEFF1;
}

.nf-green {
    background-color: #00796b ;
    color: white;
}

.nf-red {
    background-color: #B71C1C;
    color: white;
}

.nf-orange {
    background-color: #FFA000;
    color: white;
}

.nf-black {
    background-color: #212121;
    color: white;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}

.navbar-toggle {
    z-index:3;
}

.vertical-center-container {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

.no-margin {
    margin: 0px;
}

.not-visible {
    /*display: none !important;*/
    opacity: .15;
    pointer-events: none;
}

.green-text {
    color: lightgreen !important;
}

.no-border {
    border-width: 0px;
    border-radius: 0px;
}

.player-name > .player-arrows {
    opacity: 0;
    z-index: 20;
    /*transition: .3s all;*/
}

.player-name:hover > .player-arrows {
    z-index: 20;
    opacity: .95;
    display: block;
    pointer-events: initial;
}

.white {
    /*color: white;*/
}

.preserve-white-space {
    white-space: pre-wrap;
}

.nav-bar > li:hover {
    cursor: pointer;
}

.nav-bar * a {
    /*color: white;*/
    color: black;
}
.nav-bar * a:hover {
    color: black;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.nav-bar * a:focus {
    color: black;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.breadcrumb * a {
    color: white;
}

/* End Neg 5 colors */

@media (max-width: 1919px) {
    .responsive.input-group {
        display: block;
    }
}

@media (min-width: 1200px) {
    .tournament-navigation-panel {
        position: fixed;
    }
}

@media (min-width: 1921px) {
    .responsive-font {
        font-size: 1.3em;
    }
}

@media (min-width: 1600px) and (max-width: 1920px) {
    .responsive-font {
        font-size: 1.1em;
    }
}

@media (max-width: 1599px) and (min-width: 1351px) {
    .responsive-font {
        font-size: .85em;
    }
}

@media (max-width: 1350px) {
    .responsive-font {
        font-size: .8em;
    }
}

.nf-panel-heading.stat-header {
    margin-bottom: 0px;
    padding-left: 0px;
    color: white;
}

.point-label {
    min-width: 130px;
}
.point-label.dropdown-toggle:hover {
    cursor: pointer;
}

.tournament-navigation-panel * a {
    color: white;
}
.tournament-navigation-panel * a:hover {
    color: black;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.tournament-navigation-panel * a:focus {
    color: black;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}


.center {
    text-align: center;
}

.vertical-center {
    vertical-align: middle;
}

.no-overflow {
    overflow: hidden;
}

.point-label > i {
    margin-left: 10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button
{ 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}

div.readonly {
    background-color: #f8f5f0;
}

select.readonly {
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

/*td.pad, tr.pad {
    padding: 10px;
}*/

/**
Redefine Bootstrap definitions
*/

div.panel-default {
    border: none;
}

@media (min-width: 800px) {
    div.container {
        width: 750px;
    }
}

.input-group-addon {
    border: none;
}


.table > thead > tr > th {
    border-bottom: 0px solid black;
}

tr > .table-head {
    font-weight: normal;
    /*font-size: 1.3em;*/
}

.panel>.table:first-child>thead:first-child>tr:first-child td:last-child, .panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:last-child, .panel>.table:first-child>tbody:first-child>tr:first-child td:last-child, .panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:last-child, .panel>.table:first-child>thead:first-child>tr:first-child th:last-child, .panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:last-child, .panel>.table:first-child>tbody:first-child>tr:first-child th:last-child, .panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:last-child {
    border-top-right-radius: 0px;
}

.panel>.table:first-child>thead:first-child>tr:first-child td:first-child, .panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:first-child, .panel>.table:first-child>tbody:first-child>tr:first-child td:first-child, .panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:first-child, .panel>.table:first-child>thead:first-child>tr:first-child th:first-child, .panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:first-child, .panel>.table:first-child>tbody:first-child>tr:first-child th:first-child, .panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:first-child {
    border-top-left-radius: 0px;
}

.panel>.table:last-child>tbody:last-child>tr:last-child td:first-child, .panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:first-child, .panel>.table:last-child>tfoot:last-child>tr:last-child td:first-child, .panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:first-child, .panel>.table:last-child>tbody:last-child>tr:last-child th:first-child, .panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:first-child, .panel>.table:last-child>tfoot:last-child>tr:last-child th:first-child, .panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:first-child {
    border-bottom-left-radius: 0px;
}

.panel>.table:last-child>tbody:last-child>tr:last-child td:last-child, .panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:last-child, .panel>.table:last-child>tfoot:last-child>tr:last-child td:last-child, .panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:last-child, .panel>.table:last-child>tbody:last-child>tr:last-child th:last-child, .panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:last-child, .panel>.table:last-child>tfoot:last-child>tr:last-child th:last-child, .panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:last-child {
    border-bottom-right-radius: 0px;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border: 0px;
    padding: 10px;
}

.nf-toast {
    position: fixed;
    z-index: 10000;
    bottom: 20px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    -webkit-transition: all ease-in .2s;
    -moz-transition: all ease-in .2s;
    transition: all ease-in .2s;
}

.nf-toast.ng-hide {
    transform: translate(0, 3em);
    opacity: 0;
}

.nf-toast-content {
    min-width: 300px; /* IE8 Fallback */
    padding: 12px 24px; /* IE8 Fallback */
    font-size: 16px; /* IE8 Fallback */
    display: inline-block;
    min-width: 30rem;
    padding: 2.2rem 3.4rem;
    border-radius: 1px;
    text-align: left;
    color: #fff;
    font-size: 1.6rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.nf-toast i {
    margin-right: 10px;
}

.underline {
    text-decoration: underline;
}


@media (min-width: 1000px) {
    #save-tournament-overview {
        position: fixed;
        bottom: 10px;
    }    
}




