.nf-background-main {
    background-color: #455a64;
}

.nf-button {
    border-radius: 2px;
    margin: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    font-size: 1.3em;
}

.active-phase {
    background-color: #B2DFDB;
}

.nf-dropdown {
    border-radius: 1px;
    width: 50%;
}
.nf-dropdown > li > a {
    font-size: 1.1em;
    padding: 10px;
}

.nf-card {
    box-shadow: 0 2px 3px rgba(0,0,0,.05);
    padding: 20px;
    font-size: 18px;
    border-radius: 2px;
}

.nf-input {
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    font-size: 1.2em;
}
.nf-input:focus {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.nf-label {
    padding: 10px;
    font-size: 1.3em;
    line-height: 140%;
    font-weight: 400;
}

.nf-list-item {
    border: 0px solid black;
}
.nf-list-item:hover {
    background: #90a4ae !important;
    cursor: pointer;
}

.nf-margin {
    margin: 5px;
}

.nf-panel {
    border-color: #455a64;
    border-radius: 2px;
}

.nf-panel-heading {
    padding: 20px;
    font-size: 1.5em;
    border-color: #455a64 !important;
}

.nf-panel-body {
    background-color: #455a64; 
}

.nf-select {
    border-radius: 2px;
}

.nf-shadow {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.nf-th {
    text-align: center;
}

.nf-th-short {
    width: 100px;
}

.nf-tr:hover {
    cursor: pointer;
    background-color: #e0f7fa;
}

/** Neg 5 colors */

.nf-white {
    background-color: #fafafa;
}

.nf-black {
    background-color: #212121;
    color: white;
}

.nf-blue {
    background-color: #01579B;
    color: white;
}

.nf-dark-blue {
    background-color: #37474F !important;
    color: white !important;
}

.nf-gray {
   background-color: #ECEFF1;
}

.nf-green {
    background-color: #00695C;
    color: white;
}

.nf-red {
    background-color: #B71C1C;
    color: white;
}

.nf-orange {
    background-color: #FFA000;
    color: white;
}

.no-border {
    border-width: 0px;
    border-radius: 0px;
}

.white {
    color: white;
}

.preserve-white-space {
    white-space: pre-wrap;
}

.nav-bar * a {
    color: white;
}
.nav-bar * a:hover {
    color: black;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.nav-bar * a:focus {
    color: black;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

/* End Neg 5 colors */

@media (min-width: 1200px) {
    .tournament-navigation-panel {
        position: fixed;
    }
}

.point-label {
    min-width: 110px;
}
.point-label.dropdown-toggle:hover {
    cursor: pointer;
}

.tournament-navigation-panel * a {
    color: white;
}
.tournament-navigation-panel * a:hover {
    color: black;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.tournament-navigation-panel * a:focus {
    color: black;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}


.center {
    text-align: center;
}

.vertical-center {
    vertical-align: middle;
}

.no-overflow {
    overflow: hidden;
}

span > i {
    margin-left: 10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

/**
Redefine Boostrap definitions
*/
.table > thead > tr > th {
    border-bottom: 0px solid black;
}

.panel>.table:first-child>thead:first-child>tr:first-child td:last-child, .panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:last-child, .panel>.table:first-child>tbody:first-child>tr:first-child td:last-child, .panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:last-child, .panel>.table:first-child>thead:first-child>tr:first-child th:last-child, .panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:last-child, .panel>.table:first-child>tbody:first-child>tr:first-child th:last-child, .panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:last-child {
    border-top-right-radius: 0px;
}

.panel>.table:first-child>thead:first-child>tr:first-child td:first-child, .panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:first-child, .panel>.table:first-child>tbody:first-child>tr:first-child td:first-child, .panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:first-child, .panel>.table:first-child>thead:first-child>tr:first-child th:first-child, .panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:first-child, .panel>.table:first-child>tbody:first-child>tr:first-child th:first-child, .panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:first-child {
    border-top-left-radius: 0px;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border: 0px;
}

.nf-toast {
    position: fixed;
    z-index: 10000;
    bottom: 20px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    -webkit-transition: all ease-in .2s;
    -moz-transition: all ease-in .2s;
    transition: all ease-in .2s;
}

.nf-toast.ng-hide {
    transform: translate(0, 3em);
    opacity: 0;
}

.nf-toast-content {
    min-width: 300px; /* IE8 Fallback */
    padding: 12px 24px; /* IE8 Fallback */
    font-size: 16px; /* IE8 Fallback */
    display: inline-block;
    min-width: 30rem;
    padding: 2.2rem 3.4rem;
    border-radius: 1px;
    text-align: left;
    color: #fff;
    font-size: 1.6rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.nf-toast i {
    margin-right: 10px;
}


