.col-lg-12.col-md-12.col-sm-12.col-xs-12.pools
  div.Panel(ng-controller='PoolsController as PoolsController')
      .nf-panel-heading
          label.nf-label Team Pools
      .panel-body.nf-panel-body.phase-container(ng-repeat='phase in PoolsController.PhaseService.phases')
          div.holder
              div
                  p.phase-name.label.nf-label {{ phase.name }}
              div
                  .row
                      .col-lg-4.col-md-4.col-sm-4.col-xs-12
                          .Panel
                              .panel-heading.nf-panel-heading
                                  label.nf-label Unassigned
                              .panel-body(dnd-list dnd-drop='PoolsController.onDropTeam(item, phase, null)' dnd-allowed-types='[phase.id]')
                                  ul
                                      li.team(ng-repeat='team in PoolsController.TeamService.teams' ng-if='!team.divisions[phase.id]' dnd-draggable='team' dnd-type='phase.id')
                                          | {{ team.name }}
                          input(type='text' class="form-control nf-input" placeholder='New pool')
                      .col-lg-8.col-md-8.col-sm-8.col-xs-12
                          .row
                              div(ng-repeat='div in PoolsController.DivisionService.divisions' ng-if='div.phaseId === phase.id')
                                  .col-lg-6.col-md-6.col-sm-6.col-xs-12
                                      .Panel
                                          .panel-heading.nf-panel-heading
                                              label.nf-label {{ div.name }}
                                          .panel-body(dnd-list dnd-drop='PoolsController.onDropTeam(item, phase, div)' dnd-allowed-types='[phase.id]')
                                              ul
                                                  li.team(ng-repeat='team in PoolsController.TeamService.teams'
                                                    ng-if='team.divisions[phase.id] === div.id'
                                                    dnd-draggable='team'
                                                    dnd-type='phase.id'
                                                  )
                                                      | {{ team.name }}
                                  .clearfix(ng-if='$index % 2 === 1')