div(class="panel panel-default nf-panel AddTeam")
    .nf-panel-heading
        .row 
            .col-lg-11.col-sm-11.col-md-11.col-xs-11
                label.nf-label Add a Team
    .panel-body.nf-panel-body

        div(class="col-md-12 col-sm-12")
            form(novalidate name='Team.newTeamForm' ng-submit='Team.addTeam()' ng-class="{'disabled': Team.savingNewTeam}")
                .row
                    .col-lg-4.col-md-4.col-sm-4.col-xs-4
                        label.label.nf-label.btn-block(style='float:right') Name
                    .col-lg-8.col-md-8.col-sm-8.col-xs-8
                        input(
                            type="text",
                            placeholder="Team name",
                            class="form-control nf-input input-md center-text no-border-radius",
                            ng-model='Team.newTeam.name',
                            required
                        )

                br

                .row
                    .col-lg-4.col-md-4.col-sm-4.hidden-xs
                        label.label.nf-label.btn-block(style='float:right') Divisions
                    .col-lg-8.col-md-8.col-sm-8.col-xs-12
                        .input-group.phase-container(ng-repeat='phase in Team.phases')
                            span.input-group-addon.no-border.point-label.nf-label(title='Pick a division for {{phase.name}}') {{phase.name}}
                            select.form-control.nf-input(ng-model='Team.newTeam.divisions[phase.id]' ng-options='div as div.name for div in Team.divisions | divisionPhase:phase.id | orderBy:"name"')
                                option(value='') Select a division

                br

                .row
                    .col-lg-4.col-md-4.col-sm-4
                        .row
                           label.label.nf-label.btn-block(style='float:right') Players
                    .col-lg-8.col-md-8.col-sm-8
                        div(ng-repeat='player in Team.newTeam.players' style='margin:3px')
                            div(class='input-group input-md')
                                input(type='text' class='form-control nf-input input-md' autocomplete='off' placeholder='Player {{$index + 1}}' ng-model='Team.newTeam.players[$index].name')
                                span.Button.secondary.input-group-addon.btn.btn-md(role='button' ng-click='Team.removePlayerSlot($index)')
                                    i(class='fa fa-times')
                        div.add-player-container
                            span.btn.btn-sm.Button.primary(role="button" ng-click='Team.addPlayer()' style='margin:0px')
                                | Add another player

                br
                button.right.btn.btn-md.Button.primary(type="submit" ng-disabled='Team.newTeamForm.$invalid') Save