div(class="panel panel-default nf-panel")
    // div(class="collapsable nf-panel-heading nf-dark-blue" id="add-team-panel") Add a Team
    div(class="panel-body  nf-panel-body tournament-panel")

        div(class="col-md-12 col-sm-12")
            form(novalidate name='Team.newTeamForm' ng-submit='Team.addTeam()')
                .row
                    .col-lg-4.col-md-4.col-sm-4
                        label.label.nf-dark-blue.nf-label.btn-block(style='float:right') Name
                    .col-lg-8.col-md-8.col-sm-8
                        input(
                            type="text",
                            placeholder="Team name",
                            class="form-control nf-input input-md center-text no-border-radius",
                            ng-model='Team.newTeam.name',
                            required
                        )

                br

                .row
                    .col-lg-4.col-md-4.col-sm-4
                        label.label.nf-dark-blue.nf-label.btn-block(style='float:right') Divisions
                    .col-lg-8.col-md-8.col-sm-8
                        .input-group.nf-margin(ng-repeat='phase in Team.phases')
                            span.input-group-addon.nf-button.no-border.point-label.dropdown-toggle.nf-blue(data-toggle='dropdown' title='Pick a division for {{phase.name}}') {{phase.name}}
                                i.fa.fa-caret-down
                            div.form-control.nf-gray.nf-input {{Team.newTeam.divisions[phase.id].name || 'None'}}
                            ul.dropdown-menu.nf-dropdown(aria-role='menu')
                                li
                                    a(ng-show='Team.newTeam.divisions[phase.id]' ng-click='Team.newTeam.divisions[phase.id] = null') Reset
                                    a(ng-repeat='division in Team.divisions' ng-if='division.phaseId === phase.id' ng-click='Team.newTeam.divisions[phase.id] = division') {{division.name}}

                br

                .row
                    .col-lg-4.col-md-4.col-sm-4
                        .row
                            .col-lg-8.col-md-8.col-sm-8
                                label.label.nf-dark-blue.nf-label.btn-block(style='float:right') Players
                            .col-lg-4.col-md-4.col-sm-4
                                span(role="button" class="btn btn-sm nf-blue nf-button btn-block" ng-click='Team.addPlayer()' style='margin:0px')
                                    i.fa.fa-plus
                    .col-lg-8.col-md-8.col-sm-8
                        div(ng-repeat='player in Team.newTeam.players' style='margin:3px')
                            div(class='input-group input-md')
                                input(type='text' class='form-control nf-input input-md' autocomplete='off' placeholder='Player {{$index + 1}}' ng-model='Team.newTeam.players[$index].name')
                                span(role='button' class='input-group-addon nf-red btn btn-md nf-button' ng-click='Team.removePlayerSlot($index)')
                                    i(class='fa fa-times')                    

                br
                button(type="submit" class="btn btn-lg nf-green nf-button" ng-disabled='Team.newTeamForm.$invalid') Add Team To Tournament