div(ng-class="{'col-lg-4 col-md-4 col-sm-4 col-xs-12': !Team.currentTeam.id, 'hidden-lg hidden-md hidden-sm hidden-xs': Team.currentTeam.id}" ng-controller='TeamKeyDetailsController as TDetailsCtrl')
  div.KeyTeamDetails
      .Panel(style='margin-bottom:10px')
          .nf-panel-heading
              label.nf-label Overall Team Details
          .panel-body.nf-panel-body
              .row
                    .col-lg-12
                      p.nf-label Total Teams:
                        label.nf-label {{ TDetailsCtrl.TeamKeyDetailsService.numTeams }}
                    .col-lg-12
                      p.nf-label Total Players:
                        label.nf-label {{ TDetailsCtrl.TeamKeyDetailsService.numPlayers }}
              hr
              div.phase-container(ng-repeat='phase in TDetailsCtrl.TeamKeyDetailsService.keyTeamPhaseDetails')
                  b.phase-name {{ phase.name }} {{ phase.divisions.length === 0 ? '(No Divisions)' : ''}}
                  br
                  br
                  .row(ng-repeat='division in phase.divisions | orderBy:"name"')
                      .div-container
                        .col-lg-6
                            p.nf-label.division-name {{ division.name }} ({{ division.teams.length || 'No Teams'}})
                        .col-lg-6
                            p.nf-label.team-name(ng-repeat='team in division.teams | orderBy:"name"') {{ team.name }}
                  hr
                        