div(ng-show='Team.currentTeam.id' ng-class='{"col-lg-12" : !Team.currentTeam.id, "col-lg-8 col-md-12 col-sm-12": Team.currentTeam.id}')
    div(class="nf-panel")
        .nf-panel-heading
            .row
                .col-lg-2.col-md-2.col-sm-2
                    button.nf-button.nf-orange.btn-md.btn(ng-click='Team.emptyCurrentTeam()')
                        i.fa.fa-arrow-left
                .col-lg-8.col-md-8.col-sm-8.center
                    h5.nf-label(style='margin:1.6%') {{Team.currentTeam.name}}
                .col-lg-2.col-md-2.col-sm-2
                    button.nf-button.nf-red.btn-md.btn.right(ng-if='Team.currentTeam.games === 0 && tournamentContext.admin'  data-toggle='modal' data-target='#deleteTeamModal')
                        i.fa.fa-trash

        .panel-body.nf-panel-body.nf-white(style='padding:0px')
            .col-lg-12(style='padding:20px')
                form.team-form(novalidate name='Team.currentTeamForm')
                    .col-lg-12.nf-margin
                        .row
                            .col-lg-3.col-md-4.col-sm-4
                                .input-group.nf-margin
                                    label.label.input-group-addon.no-border.nf-label Team Name
                            .col-lg-9.col-md-8.col-sm-8
                                .col-lg-12
                                    .input-group.nf-margin
                                        span.form-control.nf-input.nf-gray(ng-show='!Team.currentTeam.editingName') {{Team.currentTeam.name}}
                                        input.form-control.nf-input(ng-show='Team.currentTeam.editingName' ng-model='Team.currentTeam.newName' ng-keyup='!($event.which === 13) || Team.saveCurrentTeamName()')
                                        span.input-group-addon.nf-button.btn.no-border.nf-blue(ng-if='tournamentContext.admin' ng-click='Team.currentTeam.editingName = true' ng-show='!Team.currentTeam.editingName')
                                            i.fa.fa-pencil
                                        span.input-group-addon.nf-button.btn.no-border.nf-red(ng-if='tournamentContext.admin' ng-click='Team.resetCurrentTeam()' ng-show='Team.currentTeam.editingName')
                                            i.fa.fa-times
                                        span.input-group-addon.nf-button.btn.no-border.nf-green(ng-if='tournamentContext.admin' ng-click='Team.saveCurrentTeamName();' ng-show='Team.currentTeam.editingName')
                                            i.fa.fa-check
                    
                    .col-lg-12.nf-margin
                        .row
                            .col-lg-3.col-md-4.col-sm-4
                                .input-group.nf-margin
                                    label.label.input-group-addon.no-border.nf-label Divisions
                            .col-lg-9.col-md-8.col-sm-8
                                .col-lg-12(ng-repeat='phase in Team.phases')
                                    .input-group.nf-margin
                                        span.input-group-addon.nf-button.no-border.nf-gray {{phase.name}}
                                        span.form-control.nf-input.nf-gray(ng-if='!tournamentContext.admin') {{Team.getDivisionNameInPhase(Team.currentTeam.mappedDivisions[phase.id]) || 'None'}} 
                                        select.form-control.nf-input(ng-if='tournamentContext.admin' ng-model='Team.currentTeam.mappedDivisions[phase.id]' ng-change='Team.updateCurrentTeamDivisions()')
                                            option(value='' selected) None
                                            option(ng-repeat='division in Team.divisions' value='{{division.id}}' ng-if='division.phaseId === phase.id' ng-selected='Team.currentTeam.mappedDivisions[phase.id] === division.id') {{division.name}}

                    .col-lg-12.nf-margin
                        .row
                            .col-lg-3.col-md-4.col-sm-4
                                .input-group.nf-margin
                                    label.label.input-group-addon.no-border.nf-label Players ({{Team.currentTeam.players.length}})
                            .col-lg-9.col-md-8.col-sm-8
                                .col-lg-12(ng-repeat='player in Team.currentTeam.players')
                                    .row
                                        .col-lg-10.col-md-10.col-sm-10
                                            .nf-margin(ng-class='::{"input-group" : tournamentContext.admin}')
                                                span.form-control.nf-input.nf-gray(ng-show='!player.editing') 
                                                    p.inline {{player.name}} 
                                                input.form-control.nf-input(ng-if='tournamentContext.admin' ng-show='player.editing' ng-model='player.newName' ng-keyup='!($event.which === 13) || Team.savePlayerNameOnCurrentTeam(player)')
                                                span.input-group-addon.nf-button.btn.no-border.nf-blue(ng-if='tournamentContext.admin' ng-click='player.editing = true' ng-show='!player.editing')
                                                    i.fa.fa-pencil
                                                span.input-group-addon.nf-button.btn.no-border.nf-red(ng-if='tournamentContext.admin' ng-click='player.editing = false;player.newName = player.name' ng-show='player.editing')
                                                    i.fa.fa-times
                                                span.input-group-addon.nf-button.btn.no-border.nf-green(ng-if='tournamentContext.admin' ng-click='Team.savePlayerNameOnCurrentTeam(player)' ng-show='player.editing')
                                                    i.fa.fa-check
                                        .col-lg-2.col-md-2.col-sm-2(ng-if='player.totalTossupsHeard === 0')
                                            .input-group.nf-margin
                                                span.input-group-addon.nf-button.btn.no-border.nf-red(ng-click='Team.removeCurrentTeamPlayer(player)' ng-if='tournamentContext.admin' ng-show='!player.editing' title='Remove {{player.name}}. Will fail if this player has participated in a match.')
                                                    i.fa.fa-trash

                    .col-lg-12.nf-margin
                        .row
                            .col-lg-3.col-md-4.col-sm-4
                                .input-group.nf-margin
                                    label.label.input-group-addon.no-border.nf-label New Player
                            .col-lg-9.col-md-8.col-sm-8
                                .col-lg-12
                                    .input-group.nf-margin
                                        input.form-control.nf-input(placeholder='New player for {{Team.currentTeam.name}}' ng-model='Team.currentTeam.newPlayer.name' ng-keyup='!($event.which === 13) || Team.addTeamPlayer()')
                                        span.input-group-addon.nf-button.btn.no-border.nf-green(ng-click='Team.addTeamPlayer();')
                                            i.fa.fa-check

        .panel-footer.nf-panel-footer.nf-white
            h5.label.nf-label Added by: {{Team.currentTeam.addedBy}}

div#deleteTeamModal.modal.nf-modal
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
                h4.modal-title Delete Team
            .modal-body
                h5.nf-modal-message
                    | Are you sure you want to delete {{Team.currentTeam.name}} from the tournament?
                    | You will not be able to recover it after deletion.
            .modal-footer
                button.nf-button.nf-gray.btn.btn-md(type='button' data-dismiss='modal' ng-disabled='Team.deletingTeam') Cancel
                button.nf-button.btn.nf-red(type='button' ng-disabled='Team.deletingTeam' ng-click='Team.removeCurrentTeam()') Yes, delete
                span.modal-spinner(ng-show='Team.deletingTeam')
                    i.fa.fa-circle-o-notch.fa-spin.fa-2x.fa-fw