div(class="row")
    div(class="input-group col-lg-4 col-md-4 col-sm-12" style="margin-left:20px;margin-bottom:20px;")
        span(class='input-group-addon nf-blue nf-button btn' title='Refresh teams' ng-click='Team.getTournamentTeams()')
            i(class='fa fa-refresh')
        input(type="text" class="form-control nf-input search btn-shadow" placeholder="Filter by Name or Division" ng-model='Team.teamQuery')
    
div(ng-class="{'col-lg-12': !Team.currentTeam.id, 'col-lg-4 col-md-12 col-sm-12': Team.currentTeam.id}")
    .list-group.nf-shadow       
        a(class='list-group-item nf-blue') 
            .row
                .col-lg-5
                    h5(style='display:inline') Teams
                .col-lg-7(ng-show='!Team.currentTeam.id')
                    h5(style='display:inline') Divisions

        div(style='max-height:500px;overflow:auto')
            a(class='list-group-item nf-dark-blue nf-list-item' ng-click='Team.findTeam(team)' ng-repeat='team in Team.teams | orderBy:Team.teamSortType:Team.teamSortReverse | filter:Team.teamQuery track by team.id')
                .row
                    .col-lg-5
                        h5 {{team.name}}
                    .col-lg-7(ng-show='!Team.currentTeam.id')
                        .row
                            .col-lg-4(ng-repeat='phase in Team.phases')
                                h5 {{phase.name + ' : ' + Team.getDivisionNameInPhase(team.divisions[phase.id])}}

div(ng-show='Team.currentTeam.id' ng-class='{"col-lg-12" : !Team.currentTeam.id, "col-lg-8 col-md-12 col-sm-12": Team.currentTeam.id}')
    div(class="panel nf-panel")
        .nf-panel-heading.nf-blue
            .row
                .col-lg-2.col-md-2
                    button.nf-button.nf-red.btn-md.btn(ng-click='Team.currentTeam = {}')
                        i.fa.fa-arrow-left
                .col-lg-8.col-md-8.center 
                    h5(style='font-size:1.3em;margin:1.6%') {{Team.currentTeam.name}}
                    h6 Added by: {{Team.currentTeam.addedBy}}
                .col-lg-2.col-md-2
                    button.nf-button.nf-red.btn-md.btn.right(ng-if='Team.teamHasPlayedNoGames(Team.currentTeam.id) && tournamentContext.admin')
                        i.fa.fa-trash

        .panel-body.nf-panel-body.nf-dark-blue.nf-shadow(style='padding:0px')
            .col-lg-12(style='padding:20px')
                form(novalidate name='Team.currentTeamForm')
                    .col-lg-12.nf-margin
                        .row
                            .col-lg-3.col-md-4
                                .input-group.nf-margin
                                    span.input-group-addon.nf-button.no-border.nf-gray Team Name
                            .col-lg-9.col-md-8
                                .col-lg-12
                                    .input-group.nf-margin
                                        span.input-group-addon.nf-button.no-border.nf-gray(ng-show='Team.currentTeam.editingName') {{Team.currentTeam.name}}
                                        span.form-control.nf-input.nf-gray(ng-show='!Team.currentTeam.editingName') {{Team.currentTeam.name}}
                                        input.form-control.nf-input(ng-show='Team.currentTeam.editingName' ng-model='Team.currentTeam.newName' ng-keyup='!($event.which === 13) || Team.saveCurrentTeamName()')
                                        span.input-group-addon.nf-button.btn.no-border.nf-blue(ng-if='tournamentContext.admin' ng-click='Team.currentTeam.editingName = true' ng-show='!Team.currentTeam.editingName')
                                            i.fa.fa-pencil
                                        span.input-group-addon.nf-button.btn.no-border.nf-red(ng-if='tournamentContext.admin' ng-click='Team.currentTeam.editingName = false;Team.currentTeam.newName = Team.currentTeam.name' ng-show='Team.currentTeam.editingName')
                                            i.fa.fa-times
                                        span.input-group-addon.nf-button.btn.no-border.nf-green(ng-if='tournamentContext.admin' ng-click='Team.saveCurrentTeamName();' ng-show='Team.currentTeam.editingName')
                                            i.fa.fa-check
                    
                    .col-lg-12.nf-margin
                        .row
                            .col-lg-3.col-md-4
                                .input-group.nf-margin
                                    span.input-group-addon.nf-button.no-border.nf-gray Divisions
                            .col-lg-9.col-md-8
                                .col-lg-12(ng-repeat='phase in Team.phases')
                                    .input-group.nf-margin
                                        span.input-group-addon.nf-button.no-border.nf-gray {{phase.name}}
                                        span.form-control.nf-input.nf-gray(ng-if='!tournamentContext.admin') {{Team.getDivisionNameInPhase(Team.currentTeam.mappedDivisions[phase.id]) || 'None'}} 
                                        select.form-control.nf-input(ng-if='tournamentContext.admin' ng-model='Team.currentTeam.mappedDivisions[phase.id]' ng-change='Team.updateCurrentTeamDivisions()')
                                            option(value='' selected) None
                                            option(ng-repeat='division in Team.divisions' value='{{division.id}}' ng-if='division.phaseId === phase.id' ng-selected='Team.currentTeam.mappedDivisions[phase.id] === division.id') {{division.name}}

                    .col-lg-12.nf-margin
                        .row
                            .col-lg-3.col-md-4
                                .input-group.nf-margin
                                    span.input-group-addon.nf-button.no-border.nf-gray Players ({{Team.currentTeam.players.length}})
                            .col-lg-9.col-md-8
                                .col-lg-12(ng-repeat='player in Team.currentTeam.players')
                                    .row
                                        .col-lg-10.col-md-10
                                            .input-group.nf-margin
                                                span.form-control.nf-input.nf-gray(ng-show='!player.editing') 
                                                    p.inline {{player.name}} 
                                                span.input-group-addon.nf-button.no-border.nf-gray.nf-blue-text(ng-show='player.editing') {{player.name}}
                                                input.form-control.nf-input(ng-if='tournamentContext.admin' ng-show='player.editing' ng-model='player.newName' ng-keyup='!($event.which === 13) || Team.savePlayerNameOnCurrentTeam(player)')
                                                span.input-group-addon.nf-button.btn.no-border.nf-blue(ng-if='tournamentContext.admin' ng-click='player.editing = true' ng-show='!player.editing')
                                                    i.fa.fa-pencil
                                                span.input-group-addon.nf-button.btn.no-border.nf-red(ng-if='tournamentContext.admin' ng-click='player.editing = false;player.newName = player.name' ng-show='player.editing')
                                                    i.fa.fa-times
                                                span.input-group-addon.nf-button.btn.no-border.nf-green(ng-if='tournamentContext.admin' ng-click='Team.savePlayerNameOnCurrentTeam(player)' ng-show='player.editing')
                                                    i.fa.fa-check
                                        .col-lg-2.col-md-2(ng-if='player.games === 0')
                                            .input-group.nf-margin
                                                span.input-group-addon.nf-button.btn.no-border.nf-red(ng-click='Team.removeCurrentTeamPlayer(player)' ng-if='tournamentContext.admin' ng-show='!player.editing' title='Remove {{player.name}}. Will fail if this player has participated in a match.')
                                                    i.fa.fa-trash

                    .col-lg-12.nf-margin
                        .row
                            .col-lg-3.col-md-4
                                .input-group.nf-margin
                                    span.input-group-addon.nf-button.no-border.nf-gray New Player
                            .col-lg-9.col-md-8
                                .col-lg-12
                                    .input-group.nf-margin
                                        input.form-control.nf-input(placeholder='New player for {{Team.currentTeam.name}}' ng-model='Team.currentTeam.newPlayer' ng-keyup='!($event.which === 13) || Team.addTeamPlayer()')
                                        span.input-group-addon.nf-button.btn.no-border.nf-green(ng-click='Team.addTeamPlayer();')
                                            i.fa.fa-check