div(class="row")
    div(class="input-group col-lg-4 col-md-4 col-sm-12" style="margin-left:20px;margin-bottom:20px;")
        span(class='input-group-addon nf-blue nf-button btn' title='Refresh teams' ng-click='Team.getTournamentTeams()')
            i(class='fa fa-refresh')
        input(type="text" class="form-control nf-input search btn-shadow" placeholder="Filter by Name or Division" ng-model='Team.teamQuery')
    
div(ng-class="{'col-lg-12': !Team.currentTeam.id, 'col-lg-4 col-md-5': Team.currentTeam.id}")
    .list-group.nf-shadow       
        a(class='list-group-item nf-blue') 
            .row
                .col-lg-5
                    h5(style='display:inline') Teams
                .col-lg-7(ng-show='!Team.currentTeam.id')
                    h5(style='display:inline') Divisions

        div(style='max-height:500px;overflow:auto')
            a(class='list-group-item nf-dark-blue nf-list-item' ng-click='Team.findTeam(team)' ng-repeat='team in Team.teams | orderBy:Team.teamSortType:Team.teamSortReverse | filter:Team.teamQuery track by team.id')
                .row
                    .col-lg-5
                        h5 {{team.name}}
                    .col-lg-7(ng-show='!Team.currentTeam.id')
                        .row
                            .col-lg-4(ng-repeat='phase in Team.phases')
                                h5 {{phase.name + ' : ' + Team.getDivisionNameInPhase(team.divisions[phase.id])}}

div(ng-show='Team.currentTeam.id' ng-class='{"col-lg-12" : !Team.currentTeam.id, "col-lg-8 col-md-7": Team.currentTeam.id}')
    div(class="panel nf-panel")
        .nf-panel-heading.nf-blue
            button.nf-button.nf-red.btn-md.btn(ng-click='Team.currentTeam = {}')
                i.fa.fa-times
        .panel-body.nf-panel-body.nf-dark-blue.nf-shadow(style='padding:0px')
            .col-lg-12(style='padding:20px')
                form(novalidate name='Team.currentTeamForm')
                    .col-lg-12.nf-margin
                        .row
                            .col-lg-12
                                .input-group
                                    span.input-group-addon.nf-button.no-border.nf-gray Team Name
                                    span.form-control.nf-input.nf-gray {{Team.currentTeam.name}}
                                    span.input-group-addon.nf-button.btn.no-border.nf-blue
                                        i.fa.fa-pencil
                    
                    .col-lg-12.nf-margin
                        .row
                            .col-lg-5
                                .input-group
                                    span.input-group-addon.nf-button.no-border.nf-gray Divisions
                            .col-lg-7
                                .col-lg-12(ng-repeat='phase in Team.phases')
                                    .input-group.nf-margin
                                        span.input-group-addon.nf-button.no-border.nf-gray {{phase.name}}
                                        span.form-control.nf-input.nf-gray {{phase.name}}
                                        //- span.input-group-addon.nf-button.btn.no-border.nf-blue
                                        //-     i.fa.fa-pencil

                    .col-lg-12.nf-margin
                        .row
                            .col-lg-5
                                .input-group
                                    span.input-group-addon.nf-button.no-border.nf-gray Players ({{Team.currentTeam.players.length}})
                            .col-lg-7
                                .col-lg-12(ng-repeat='player in Team.currentTeam.players')
                                    .input-group.nf-margin
                                        span.form-control.nf-input.nf-gray {{player.name}}
                                        span.input-group-addon.nf-button.btn.no-border.nf-blue
                                            i.fa.fa-pencil

            //- pre.nf-dark-blue(style='padding:20px')
            //-     | {{Team.currentTeam | json:4}}