div(class="row")
    div(class="col-lg-4 col-md-4 col-sm-12" style="margin-left:20px;margin-bottom:20px;")
        .input-group
            span(class='input-group-addon button-outline button-outline-blue nf-button btn' title='Refresh teams' ng-click='Team.getTournamentTeams()')
                i(class='fa fa-refresh')
            input(type="text" class="form-control nf-input search btn-shadow" placeholder="Filter by team name." ng-model='Team.teamQuery')
    
div(ng-class="{'col-lg-12': !Team.currentTeam.id, 'col-lg-4 hidden-md hidden-sm': Team.currentTeam.id}")
    div(class="nf-panel" style='margin-bottom:10px')
        table(class="table table-condensed nf-shadow no-margin font-size-medium")
            thead
                tr
                    th(class="table-head") Team
                    th(class="table-head") Divisions
            tbody
                tr(class='nf-list-item nf-white' ng-repeat='team in Team.teams | orderBy:Team.teamSortType:Team.teamSortReverse | filter:Team.teamQuery track by team.id' ng-click='Team.findTeam(team)')
                    td {{team.name}}
                    td
                        //- .col-lg-4
                        h5(ng-repeat='phase in Team.phases') {{phase.name + ' : ' + Team.getDivisionNameInPhase(team.divisions[phase.id])}}

include ./team-view