div(class="row" style="width:95%")
    div(class="input-group col-lg-4 col-md-4 col-sm-12" style="margin-left:20px;margin-bottom:20px;")
        span(class='input-group-addon nf-blue nf-button btn' id='refresh-teams' ng-click='Team.getTournamentTeams()')
            i(class='fa fa-refresh')
        input(type="text" class="form-control nf-input search btn-shadow" placeholder="Filter by Name or Division" ng-model='Team.teamQuery')

div(class="panel-default nf-panel")
    table(class="table table-condensed nf-shadow")
        thead
            tr
                th(class="table-head nf-white" ng-click='Team.teamSortType="team_name" ; Team.teamSortReverse= !Team.teamSortReverse') Team
                th(class="table-head nf-white" style='text-align:left' ng-click='teamSortType="divisions" ; teamSortReverse= !teamSortReverse') Divisions

        tbody(id="teamtablebody")
            tr(class='nf-list-item nf-dark-blue' ng-repeat='team in Team.teams | orderBy:Team.teamSortType:Team.teamSortReverse | filter:Team.teamQuery track by team.id')
                td {{team.name}}
                td Test
            
