div(class='col-md-12 col-sm-12')
    div(class="panel nf-panel panel-default")
        div(class="collapsable nf-panel-heading nf-dark-blue") New Phase
        div(class="nf-panel-body panel-body tournament-panel")
        
            div(class="row")
                div(class="col-md-12 col-sm-12 col-lg-6")
                    div(class='input-group')
                        input(type='text' placeholder='Enter New Phase Name Here' class="form-control nf-input" ng-model='Phase.newPhase' ng-keyup='!($event.which === 13) || Phase.addPhase()')
                        span(class='nf-button btn input-group-addon nf-green' ng-click='Phase.addPhase()')
                            i(class='fa fa-plus')
                            
            hr
            
                            

div(class='col-md-12 col-sm-12')
    div(class="panel nf-panel panel-default")
        div(class="collapsable nf-panel-heading nf-dark-blue") Current Phases
        div(class="nf-panel-body panel-body  tournament-panel")
            .row
                div(class="col-md-11 col-sm-11 col-lg-6")
                    .row.nf-margin(ng-repeat='phase in Phase.phases | orderBy: "name" track by phase.id')
                        .col-lg-11
                            .input-group
                                input(type='text' class='form-control nf-input' ng-model='phase.newName' ng-show='phase.editing')
                                span.form-control.nf-input.nf-gray(ng-show='!phase.editing') {{phase.name}}
                                span.btn.input-group-addon.nf-button.nf-blue.no-border(ng-click='phase.editing = true' ng-show='!phase.editing' title='Edit')
                                    i.fa.fa-pencil
                                span.btn.input-group-addon.nf-button.nf-red.no-border(ng-click='phase.newName = phase.name; phase.editing = false' ng-show='phase.editing' title='Cancel')
                                    i.fa.fa-times   
                                span.btn.input-group-addon.nf-button.nf-green.no-border(ng-click='Phase.editPhase(phase)' ng-show='phase.editing' title='Save')
                                    i.fa.fa-check  
                        .col-lg-1
                            span.btn.input-group-addon.nf-button.nf-red.no-border(ng-show='phase.editing' title='Delete Phase.' ng-click='Phase.removePhase(phase)')
                                i.fa.fa-trash  