div(class='col-md-12 col-sm-12')
    div(class="panel nf-panel panel-default")
        div(class="collapsable nf-panel-heading nf-dark-blue") New Phase
            i(class='fa arrow fa-arrow-up' style='margin-left:5px;float:right')
        div(class="nf-panel-body panel-body tournament-panel")
        
            div(class="row")
                div(class="col-md-12 col-sm-12 col-lg-6")
                    div(class='input-group')
                        input(type='text' placeholder='Enter New Phase Name Here' class="form-control nf-input" ng-model='Phase.newPhase')
                        span(class='nf-button btn input-group-addon nf-green' ng-click='Phase.addPhase()')
                            i(class='fa fa-plus')
                            
            hr
            
                            

div(class='col-md-12 col-sm-12')
    div(class="panel nf-panel panel-default")
        div(class="collapsable nf-panel-heading nf-dark-blue") Current Phases
            i(class='fa arrow fa-arrow-up' style='margin-left:5px;float:right')
        div(class="nf-panel-body panel-body  tournament-panel")
            .row
                div(class="col-md-12 col-sm-12 col-lg-6")
                    div(class='input-group' ng-repeat='phase in Phase.phases | orderBy: "name" track by phase.id')
                        input(type='text' class='form-control nf-input input-md' ng-model='phase.name')
                        span(role='button' class='btn nf-button input-group-addon nf-red')
                            i(class='fa fa-trash')
                        
                        
            .row
                div(class="col-md-3 col-sm-6 col-lg-3")
                    button(class="btn nf-green btn-md nf-button btn-block" ng-show='Phase.phases.length !== 0' ng-click='Phase.savePhases()') Save Phases