.ConfigurationTab .general .save {
  margin-left: 2rem;
}

.ConfigurationTab .phases .delete-phase {
  float: right;
}

.ConfigurationTab .point-scheme .save-scheme {
  margin-left: 2rem;
}

.ConfigurationTab .general .bounceback-checkbox {
  margin-top: .7rem;
  margin-left: 2rem;
}

.ConfigurationTab .phases .phase-checkbox {
  margin-top: 1rem;
}

.ConfigurationTab .pools .phase-container {
  border-bottom: 1px solid #e7e7e7;
}

.ConfigurationTab .pools .phase-container .team {
  padding: 2rem;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  cursor: pointer;
}

.ConfigurationTab .pools .phase-container .team:hover {
  border: 1px solid #5ab8f8;
}

.ConfigurationTab .pools .phase-container .phase-name {
  margin-bottom: 2rem;
}

.ConfigurationTab .pools .phase-container .phase-input {
  margin-bottom: 2rem;
}

.ConfigurationTab .pools .pools-heading {
  display: flex;
  justify-content: space-between;
}