.ScoresheetTab .power-button {
  color: #26a69a;
  border: 1px solid #26a69a;
  background-color: white;
}

.ScoresheetTab .neg-button {
  color: #ef5350;
  border: 1px solid #ef5350;
  background-color: white;
}

.ScoresheetTab .base-button {
  border: 1px solid #004dc8;;
  background-color: white;
  color: #004dc8;
}

.ScoresheetTab .scoresheet .current-cycle {
  background-color: #26a69a;
  color: white;
}

.ScoresheetTab .scoresheet .header th.table-head {
  border: 1px solid #e7e7e7;
}

.ScoresheetTab .scoresheet .not-current-cycle {
  background-color: white;
  color: black;
}

.ScoresheetTab .scoresheet .table-header > tr > .team-name:first-child {
  border-right: 2px solid #e7e7e7;
}

.ScoresheetTab .scoresheet .table-header > tr > .team-name:last-child {
  border-left: 2px solid #e7e7e7;
}

.ScoresheetTab .scoresheet td {
  border: 1px solid #e7e7e7;
}

.ScoresheetTab .scoresheet .complete-match {
  margin-left: 2rem;
}