.ScoresheetTab .cycle-buttons {
  display: flex;
}

.ScoresheetTab .cycle-buttons .tossup-label {
  text-align: center;
  border: none;
}

.ScoresheetTab .power-button {
  color: #26a69a;
  border: 1px solid #26a69a;
  background-color: white;
}

.ScoresheetTab .neg-button {
  color: #ef5350;
  border: 1px solid #ef5350;
  background-color: white;
}

.ScoresheetTab .base-button {
  border: 1px solid #004dc8;;
  background-color: white;
  color: #004dc8;
}

.ScoresheetTab .scoresheet .current-cycle {
  background-color: #26a69a;
  color: white;
}

.ScoresheetTab .scoresheet .header th.table-head {
  border: 1px solid #e7e7e7;
}

.ScoresheetTab .scoresheet .not-current-cycle {
  background-color: white;
  color: black;
}

.ScoresheetTab .scoresheet .table-header > tr > .team-name:first-child {
  border-right: 2px solid #e7e7e7;
}

.ScoresheetTab .scoresheet .table-header > tr > .team-name:last-child {
  border-left: 2px solid #e7e7e7;
}

.ScoresheetTab .scoresheet td {
  border: 1px solid #e7e7e7;
}

.ScoresheetTab .scoresheet .complete-match {
  margin-left: 2rem;
}

.ScoresheetTab .match-dialog .match-summary-table {
  border: 1px solid #e7e7e7;
}

.ScoresheetTab .match-dialog .match-summary-table th, .ScoresheetTab .match-dialog .match-summary-table td {
  text-align: center;
  font-weight: 400;
  font-size: 1.375rem;
  color: #585858;
  font-weight: 400;
}

.ScoresheetTab .match-dialog .match-summary-table td {
  border-top: 1px solid #e7e7e7;
}

.ScoresheetTab .match-dialog .tossups-heard-label {
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.ScoresheetTab .match-dialog .nf-panel-heading {
  border-bottom: none;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.ScoresheetTab .scoresheet-tooltip a {
  margin-left: 3px;
}

.ScoresheetTab .team-panel .nf-panel-heading {
  font-size: 1.5rem;
}

.ScoresheetTab .team-panel .player-tooltip {
  margin-top: 1rem;
}