.button-container .Button:nth-child(n+2):last-child {
  margin-left: 2rem;
}

.nf-input:disabled {
  color: #8B949D;
  background-color: #EDF0F2;
  border-color: #DFE2E6;
  pointer-events: none;
}

a {
  color: #1784c7;
  text-decoration: none;
}

a:hover {
  color: #0ca3fa;
  text-decoration: none;
}