extends ../layout

block titleContent
    title Tournaments | Neg 5

block content


    +navbar
    +navbar-bottom

    div(class="content-wrapper" style='padding:25px;padding-top:100px' ng-app='HomeApp')
        div(ng-controller='HomeController as Home')
            .row                
                .col-lg-4              
                    .col-md-6.col-sm-6.col-lg-12
                        .list-group.nf-shadow
                            a(class='list-group-item active') Tournaments
                            a.nf-dark-blue.list-group-item.nf-list-item(ng-repeat='tournament in Home.tournaments | orderBy:"name"' href='{{"/t/" + tournament.id}}')
                                p(style='display:inline') {{tournament.name}}
                                p(style='display:inline;float:right') {{tournament.question_set || 'Question Set: None'}}

block scripts
    
    script(src="/js/home.js")
