extends ../layout

block titleContent
    title Neg 5

block content

    +navbar

    - var dateConverter = function(date) {
    -    var day = date.getDate();
    -    var month = date.getMonth() + 1;
    -    var year = date.getFullYear();
    -
    -    if (day < 10) {
    -        day = "0" + day;
    -    }
    -    if (month < 10) {
    -        month = "0" + month;
    -    }
    -    var formattedDate = year + "-" + month + "-" + day;
    -    return formattedDate;
    - }

    div(ng-app='tournamentApp')
        div(class="content-wrapper box" style='padding-left:0px;padding-right:10px;padding-top:120px;' ng-controller='TournamentCtrl as Tournament')
            div(class='hidden-md hidden-lg')
                div(class='col-sm-2 col-xs-2')
                    h2(class="nf-label nf-dark-blue center") {{tournamentInfo.name}}
                div(class='col-sm-10 col-xs-10')
                    ul(class="breadcrumb")
                        li(class="active center")
                            a(href="#overview" data-toggle="tab" class='tournament-tab btn-md') Overview
                        li(class="center" ng-if='tournamentContext.owner === true')
                            a(href="#divisions" data-toggle="tab" class='tournament-tab btn-md') Configuration
                        li(class="center")
                            a(href='#collaborators' data-toggle='tab' class='tournament-tab btn-md') Collaborators

                        li(class="center")
                            a(href="#games" data-toggle="tab" class='tournament-tab btn-md') Games ({{Tournament.games.length}})
                        li(class="center")
                            a(href="#teams" data-toggle="tab" class='tournament-tab btn-md') Teams ({{Tournament.teams.length}})
                        li(class="center")
                            a(href="#stats" data-toggle="tab" class='tournament-tab btn-md') Statistics
                        li(class="center" ng-if='tournamentContext.admin === true')
                            a(href="#phase" data-toggle="tab" class='tournament-tab btn-md') Phases
                        li
                            a(target='_blank' href="{{'/t/' + tournamentId + '/scoresheet'}}") Scoresheet
                        li(style='float:right' ng-if='tournamentContext.owner === true')
                            a(href="#delete" class="nf-red btn-md tournament-tab" data-toggle="tab" style='color:white')
                                i(class='fa fa-trash')
                                    
            div(class="col-md-2 col-sm-12 col-lg-2 tournament-navigation-panel hidden-sm hidden-xs")
                div(class='row')
                    div(class='col-sm-7 col-lg-12 col-md-12')
                        h2(class="nf-panel-heading nf-dark-blue center") {{tournamentInfo.name}}
                
                div(class="panel-body")
                    div(class="row")
                        div(class='col-sm-7 col-md-12 col-lg-12')
                            ul(class="nav nav-bar no-border-radius")
                                li(class="active center")
                                    a(href="#overview" data-toggle="tab" class='tournament-tab btn-md') Overview
                                li(class="center" ng-if='tournamentContext.owner === true')
                                    a(href="#divisions" data-toggle="tab" class='tournament-tab btn-md') Configuration
                                li(class="center")
                                    a(href='#collaborators' data-toggle='tab' class='tournament-tab btn-md') Collaborators
                                li(class="center")
                                    a(href="#games" data-toggle="tab" class='tournament-tab btn-md') Games ({{Tournament.games.length}})
                                li(class="center")
                                    a(href="#teams" data-toggle="tab" class='tournament-tab btn-md') Teams ({{Tournament.teams.length}})
                                li(class="center")
                                    a(href="#stats" data-toggle="tab" class='tournament-tab btn-md') Statistics
                                li(class="center" ng-if='tournamentContext.admin === true')
                                    a(href="#phase" data-toggle="tab" class='tournament-tab btn-md') Phases
                        
                        div(class='col-sm-5 col-md-12 col-lg-12')
                            ul(class="nav nav-bar no-border-radius")
                                li
                                    a(target='_blank' href="{{'/t/' + tournamentId + '/scoresheet'}}" class='btn-md nf-button nf-orange') Go To Scoresheet
                                    div(style='margin-top:10px')
                                li(ng-if='tournamentContext.owner === true')
                                    a(href="#delete" class="nf-red btn-md tournament-tab nf-button" data-toggle="tab" style='color:white')
                                        i(class='fa fa-trash')


            div(class='col-sm-12 col-md-10 col-lg-10 col-lg-offset-2')
                div(class="tab-content")
                    div(class="tab-pane fade active in" id="overview")
                        include ./tournament-tab.jade

                    div(class='tab-pane fade' id='collaborators' ng-controller='CollabCtrl as Collab')
                        include ./../collaborator/collaborator-tab.jade                        

                    div(class="tab-pane fade" id="divisions" ng-if='tournamentContext.owner === true')
                        include ./../config/config-tab.jade

                    div(class="tab-pane fade" id="games" ng-controller='GameCtrl as Game')

                        .row
                            .col-lg-1
                                 ul(class="nav nav-bar no-border-radius")
                                    li(class="active center")
                                        a(href="#add-game" data-toggle="tab" class='tournament-tab btn-md') Add Game
                                    li(class="center")
                                        a(href="#game-list" data-toggle="tab" class='tournament-tab btn-md') Game List
                                    br
                            .col-lg-11
                                .tab-content
                                    .tab-pane.fade.active.in#add-game
                                        include ./../game/add-game.jade

                                    .tab-pane.fade#game-list

                                        div(id='game-list-div')
                                            div(id='game-list-template')
                                                include ./../game/game-list.jade

                        div(class='row')
                            div(class='col-md-12' id='game-view-div')

                    div(class="tab-pane fade" id="teams" ng-controller='TeamCtrl as Team')
                        
                        .row
                            .col-lg-1
                                ul(class="nav nav-bar no-border-radius")
                                    li(class="active center")
                                        a(href="#add-team" data-toggle="tab" class='tournament-tab btn-md') Add Team
                                    li(class="center")
                                        a(href="#team-list" data-toggle="tab" class='tournament-tab btn-md') Team List
                                    br
                            .col-lg-11
                                .tab-content
                                    .tab-pane.fade.active.in#add-team           
                                        include ./../team/add-team.jade
                                    .tab-pane.fade#team-list
                                        include ./../team/team-list.jade

                        div(class='row' style='margin-left:20px')
                            div(class='col-md-12' id='team-view-div')

                    div(class="tab-pane fade" id="stats" ng-controller='StatisticsCtrl as Statistics')
                        
                        include ./../stats/tab/stats-tab.jade
                    
                    div(class="tab-pane fade" id="phase" ng-controller='PhaseCtrl as Phase' ng-if='tournamentContext.admin === true')
                        include ./../phase/phase-tab.jade
                        
                    div(ng-if='tournamentContext.owner === true' class="tab-pane fade" id="delete")

                        div(class="panel panel-default")
                            div(class="panel-heading collapsable nf-panel-heading nf-dark-blue") Delete {{tournamentInfo.name}}
                                i(class='fa arrow fa-arrow-up' style='margin-left:5px;float:right')
                            div(class="panel-body  tournament-panel")
                                div(class="row")
                                    div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12")
                                        div(class="alert alert-danger")
                                            | If you no longer need this tournament, you can delete it here. Please make sure this is what you want
                                            | to do. This action is final.
                                            strong There is no way to undo a tournament deletion.

                                        form(method="delete" action='{{"/t/" + tournamentId}}' name="deleteTournament")
                                            button(type="button" class="btn btn-md nf-red " id="delete-tournament-button") Delete This Tournament

                                div(class="col-md-6" id="confirm-delete-div" style='display:none')
                                    div(class="col-md-6")
                                        button(type="button" class="btn btn-md nf-red btn-block " id="no-delete") Never Mind
                                    div(class="col-md-6")
                                        button(type="button" class="btn btn-md nf-blue btn-block " id="yes-delete") Yes


block scripts
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js")
    script(src='/js/app.js')
    script(src='/js/services/phase.service.js')
    script(src='/js/services/tournament.service.js')
    script(src='/js/services/team.service.js')
    script(src='/js/services/game.service.js')
    script(src='/js/services/collaborator.service.js')
    script(src='/js/controllers/team.controller.js')
    script(src='/js/controllers/game.controller.js')
    script(src='/js/controllers/tournament.controller.js')
    script(src='/js/controllers/statistics.controller.js')
    script(src='/js/controllers/phase.controller.js')
    script(src='/js/controllers/collaborator.controller.js')
    script(src="/js/jszip/dist/jszip.min.js")
    script(src='/js/jszip/dist/FileSaver.min.js')
