extends layout

block titleContent
    title Home | Neg 5

block extrascripts


block extrastylesheets

    link(rel="stylesheet" href="/css/home.css")
    link(href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css')

block content

    +sidebar
