doctype html
html
  head
    block titleContent
        title Neg 5

    script(src="/js/jquery-2.1.4.js")
    script(src="/js/modernizr.js")
    script(src="/js/jquery.menu-aim.js")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
    link(href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="/css/reset.css")
    link(rel="stylesheet" href="/css/style.css")

    block extrastylesheets

    block extrascripts

    //- Declaration
    mixin sidebar
        nav(class="cd-side-nav" style="position:fixed")
            form(name="tdid")
                input(type="hidden" value="#{tournamentd}" id="tdid_input")
            ul
                li(class="cd-label") #{tournamentd.name}

                li(class="has-children overview active")

                    ul()
                        li()
                            a(href="/home") Home
                            a(href="/home/tournaments") Your Tournaments
                            a(href="/home/tournaments/create") Create a Tournament

            ul
                li(class="cd-label")
                li(class="action-btn")
                    a(href="/logout" style="background-color:rgb(0, 136, 136);") Logout

    //- Use

    //- Declaration
    mixin navbar
        // header(class="cd-main-header")
        //
        //     div(class="is-hidden")
        //
        //
        //     nav(class="cd-nav")
        //         li(class="has-children overview active")
        //             ul()
        //                 li(style="padding:15px;background-color:transparent;")
        //                     a(href="/about") About Neg 5
        //
        //                     a()
        //                         i(class="fa fa-github")

        nav(class="navbar navbar-default navbar-fixed-top" style="background-color:rgba(0, 136, 136, .7); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);")
            div(class="container navmiddle")
                if !tournamentd
                    div(class="navbar-header")
                        div(class="navbar-brand navbar-brand-centered" style="color:white") Neg 5 : Quizbowl for the Cloud
                            // img(src="http://dev.girliestgeek.com/img/girliest-geek-logo.png")
                            div(style="clear:both")

                if tournamentd
                    div(class="collapse navbar-collapse")
                        ul(class="nav navbar-nav")
                            li()
                                a(href="/home/tournaments" style="color:white") Your Tournaments
                                    i(class="fa fa-list" style='margin-left:10px')
                            li
                                a(href="/home/tournaments/create" style="color:white") New Tournament
                                     i(class="fa fa-plus" style='margin-left:10px')

                        ul(class="nav navbar-nav navbar-right")
                            li
                                a(href="/account" style='color:white') #{tournamentd.name} (#{tournamentd.email})
                                    i(class="fa fa-user" style='margin-left:10px')
                            li
                                a(href="/logout" style='color:white') Logout
                                    i(class="fa fa-sign-out" style='margin-left:10px')
                if !tournamentd
                    div(class="collapse navbar-collapse navbar-right")
                        ul(class="nav navbar-nav")
                            li
                                a(href="/" style="color:white") Login
                                    i(class="fa fa-sign-in" style='margin-left:10px')
                            li()
                                a(href="/about" style="color:white") About Neg 5
                            li
                                a(href="#" style="color:white") Want to Contribute?
                                     i(class="fa fa-github" style="margin-left:10px")
    //- Use

    //- Declaration
    mixin statsbar
        div(class="panel-body")
            div(class="row" style="")
                ul(class="nav nav-pills no-border-radius")
                    li
                        a(href="/home/tournaments/" + tournament.shortID + "/stats/team") Team Standings
                    li
                        a(href="/home/tournaments/" + tournament.shortID + "/stats/player") Player Standings
                    li(class="active")
                        a(href="/home/tournaments/" + tournament.shortID + "/stats/teamfull") Teams Full
                    li
                        a(href="/home/tournaments/" + tournament.shortID + "/stats/playerfull") Players Full
    //- Use

  body(class="body")
    block content

script(src="/js/listjs/list.js")
