doctype html
html
  head
    title Neg 5
    script(src="/js/jquery-2.1.4.js")
    script(src="/js/modernizr.js")
    script(src="/js/jquery.menu-aim.js")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
    link(href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="/css/reset.css")
    link(rel="stylesheet" href="/css/style.css")

    block extrastylesheets

    block extrascripts

    //- Declaration
    mixin sidebar

        nav(class="cd-side-nav" style="position:fixed")
            form(name="tdid" role="form")
                input(type="hidden" value="#{tournamentd}" id="tdid_input")
            ul
                li(class="cd-label") #{tournamentd.name}
                li(class="has-children overview active")

                    ul
                        li
                            a(href="/home") Home
                            a(href="/home/tournaments") Your Tournaments
                            a(href="/home/tournaments/create") Create a Tournament

            ul
                li(class="cd-label")
                li(class="action-btn")
                    a(href="/logout" style="background-color:rgb(0, 136, 136);") Logout
    //- Use

    //- Declaration
    mixin navbar
        header(class="cd-main-header")
            a(href="#0" class="cd-nav-trigger") Menu
                span

            nav(class="cd-nav")
                ul(class="cd-top-nav")
                    li()
                        a(href="/about") About



    //- Use

  body(class="body")
    block content
