doctype html
html
  head
    title Neg 5
    script(src="/js/jquery-2.1.4.js")
    script(src="/js/modernizr.js")
    script(src="/js/jquery.menu-aim.js")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    link(href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="/css/reset.css")
    link(rel="stylesheet" href="/css/style.css")

    block extrastylesheets

    block extrascripts

    //- Declaration
    mixin sidebar

        nav(class="cd-side-nav")
            ul
                li(class="cd-label") Dashboard
                li(class="has-children overview active")
                    a Tournaments
                    ul
                        li
                            a(href="/home/tournaments") Your Tournaments
                            a(href="/home/tournaments/create") Create a Tournament

            ul
                li(class="cd-label")
                li(class="has-children notifications active")
                    a Forms
                    ul
                        li
                            a(href="#") Generate Invitation Form
            ul
                li(class="cd-label") Logout
                li(class="action-btn")
                    a(href="/logout") Logout
    //- Use

    //- Declaration
    mixin navbar
        header(class="cd-main-header")
            a(href="#0" class="cd-nav-trigger") Menu
                span

            nav(class="cd-nav")
                ul(class="cd-top-nav")



    //- Use

  body(class="body")
    block content
