extends layout

block extrascripts

block extrastylesheets
    link(rel="stylesheet" href="/css/home.css")
    link(rel="stylesheet" href="/css/tournamentstyle.css")

block content

    //+navbar
    +sidebar

    main(class="cd-main-content")
        div(class="content-wrapper box")
