.row
    .col-lg-12
        div(class="panel panel-default nf-panel")
            div(class="collapsable nf-panel-heading nf-dark-blue") Player Full - {{PSControl.phase.name || 'All Games'}}

        .row
            .col-lg-4
                input(type="text" class="form-control nf-input" placeholder="Search for Players" ng-model='PSControl.fullPlayerQuery')

        br               

        div        
            div(ng-repeat='player in PSControl.playerFullStats | filter:{player_name: PSControl.fullPlayerQuery}')
                    .row
                        .col-lg-4.col-sm-12.col-md-5
                            .nf-panel-heading.stat-header {{player.player_name}} ({{player.team_name}})
                    .row
                        .col-lg-12.col-sm-12.col-md-12
                            table(class="table table-condensed nf-shadow")
                                tr
                                    th(class="table-head nf-white" title='Match round') Round
                                    th(class="table-head nf-white" title='Player\'s opponent in the match.') Opponent
                                    th(class="table-head nf-white" title='How much of this match the player played.') GP
                                    th(class="table-head nf-white" ng-repeat='pv in PSControl.pointScheme | orderBy:"value":true' title='The total number of tossups this team got for this value') {{pv.value}}
                                    th(class="table-head nf-white" title='Tossups heard in the match') TUH
                                    th(class="table-head nf-white" title='Points per tossup heard') P / TU
                                    th(class="table-head nf-white" title='Ratio between powers and negs') P / N
                                    th(class="table-head nf-white" title='Ratio between gets and negs') G / N
                                    th(class="table-head nf-white" title='Total points') Points

                                tr(class='nf-list-item nf-dark-blue' ng-repeat='match in player.matches | orderBy:"round"')
                                    td {{match.round}}
                                    td {{match.opponent_team_name}}
                                    td {{match.game_played}}
                                    td(ng-repeat='pv in PSControl.pointScheme | orderBy:"value":true') {{match.pointMap[pv.value]}}
                                    td {{match.tossups_heard}}
                                    td {{match.total_points / match.tossups_heard | number:2}}
                                    td {{match.powers / match.negs | number:2}}
                                    td {{match.gets / match.negs | number:2}}
                                    td {{match.total_points}}