.row
    .col-lg-12
        div(class="panel panel-default nf-panel")
            div(class="collapsable nf-panel-heading nf-dark-blue") Team Full Report - {{PSControl.phase.name || 'All Games'}}      

        .row
            .col-lg-4
                input(type="text" class="form-control nf-input" placeholder="Search for Teams" ng-model='PSControl.fullTeamQuery')

        br               

        div        
            div(ng-repeat='team in PSControl.teamFullStats | filter:{team_name: PSControl.fullTeamQuery}')
                    .panel.panel-default.nf-panel
                        .nf-panel-heading.nf-dark-blue {{team.team_name}}
                        
                    table(class="table table-condensed nf-shadow")
                        tr
                            th(class="table-head nf-white" title='Team\'s opponent in the match.') Opponent
                            th(class="table-head nf-white" title='Whether the team won (W), lost (L), or tied (T)') Result
                            th(class="table-head nf-white" title='Team\'s score') PF
                            th(class="table-head nf-white" title='Opponent team\'s score') PA
                            th(class="table-head nf-white" ng-repeat='pv in PSControl.pointScheme | orderBy:"value":true' title='The total number of tossups this team got for this value') {{pv.value}}
                            th(class="table-head nf-white" title='Tossups heard in the match') TUH
                            th(class="table-head nf-white" title='Points per tossup heard') PPTH
                            th(class="table-head nf-white" title='Ratio between powers and negs') P / N
                            th(class="table-head nf-white" title='Ratio between gets and negs') G / N
                            th(class="table-head nf-white" title='Number of bonuses heard (does not include overtime)') Bonuses Heard
                            th(class="table-head nf-white" title='Bonus points gotten (score - tossup points - bounceback_points)') Bonus Points
                            th(class='table-head nf-white' title='Number of bounceback points') Bounceback Points
                            th(class="table-head nf-white" title='Team\'s points per bonus') PPB

                        tr(class='nf-list-item nf-dark-blue' ng-repeat='match in team.matches | orderBy:"round"')
                            td {{match.opponent_name}}
                            td {{match.result}}
                            td {{match.score}}
                            td {{match.opponent_score}}
                            td(ng-repeat='pv in PSControl.pointScheme | orderBy:"value":true') {{match.pointMap[pv.value]}}
                            td {{match.tossups_heard}}
                            td {{match.score / match.tossups_heard | number:2}}
                            td {{match.total_powers / match.total_negs}}
                            td {{match.total_gets / match.total_negs}}
                            td {{match.total_gets - match.overtime_tossups}}
                            td {{match.score - match.tossup_points - match.bounceback_points}}
                            td {{match.bounceback_points}}
                            td {{match.ppb}}