.row
    .col-lg-12
        div(style='padding:50px')
            .row
                .col-lg-4
                    input(type="text" class="form-control input-sm" placeholder="Search for Players" ng-model='PSControl.fullPlayerQuery')

            br               

            div        
                div(ng-repeat='player in PSControl.playerFullStats | filter:{player_name: PSControl.fullPlayerQuery}' id='{{player.player_id}}')
                        .panel.panel-default.nf-shadow
                            table.table.table-hover.table-condensed.table-responsive
                                thead
                                    tr
                                        th.nf-blue(colspan='{{PSControl.pointScheme.length + 8}}') {{player.player_name}} ({{player.team_name}})
                                    tr
                                        th.nf-gray( title='Match round') Round
                                        th.nf-gray( title='Player\'s opponent in the match.') Opponent
                                        th.nf-gray( title='How much of this match the player played.') GP
                                        th.nf-gray( ng-repeat='pv in PSControl.pointScheme | orderBy:"value":true' title='The total number of tossups this team got for this value') {{pv.value}}
                                        th.nf-gray( title='Tossups heard in the match') TUH
                                        th.nf-gray( title='Points per tossup heard') P / TU
                                        th.nf-gray( title='Ratio between powers and negs') P / N
                                        th.nf-gray( title='Ratio between gets and negs') G / N
                                        th.nf-gray( title='Total points') Points

                                tr(ng-repeat='match in player.matches | orderBy:"round"')
                                    td {{match.round}}
                                    td {{match.opponent_team_name}}
                                    td {{match.game_played}}
                                    td(ng-repeat='pv in PSControl.pointScheme | orderBy:"value":true') {{match.pointMap[pv.value]}}
                                    td {{match.tossups_heard}}
                                    td {{match.total_points / match.tossups_heard | number:2}}
                                    td {{match.powers / match.negs | number:2}}
                                    td {{match.gets / match.negs | number:2}}
                                    td {{match.total_points}}