.row
    .col-lg-12
        div(style='padding:50px')
            .row
                .col-lg-4
                    input(type="text" class="form-control input-sm nf-input" placeholder="Search for Teams" ng-model='PSControl.teamQuery')

            br
            
            .panel.panel-default.nf-shadow(ng-if='PSControl.divisions.length === 0')
                
                table.table.table-hover.table-condensed.table-responsive
                    thead
                        tr
                            th(title='Represents a team\'s overall standing in the tournament.') Rank
                            th(title='Represents a team\'s name in this tournament.') Team
                            th(title='The number of wins this team has.') W
                            th(title='The number of losses this team has.') L
                            th(title='The number of ties this team has.') T
                            th(title='The % of games this team has won') Win Pct
                            th(title='A team\'s average points per game.') PPG
                            th(title='The average points per game scored against this team.') PAPG
                            th(title='The average margin of victory for a team.') Margin
                            th(ng-repeat='pv in PSControl.pointScheme | orderBy:"value":true' title='The total number of tossups this team got for this value') {{pv.value}}
                            th(title='The total number of tossups a team heard.') TUH
                            th(title='A team\'s ratio between total points and tossups heard.') PPTH
                            th(title='A team\'s ratio between total powers and negs.') P / N
                            th(title='A team\'s ratio between total gets and negs.') G / N
                            th(title='A team\'s measure of successfully converting bonuses.') PPB
                    
                    tbody
                        tr(ng-repeat='team in PSControl.teamStats | filter:PSControl.teamQuery track by team.team_id' ng-click='PSControl.tab = "team_full"; PSControl.setHashLocation(team.team_id)')
                            td {{team.rank}}
                            td {{team.team_name}}
                            td {{team.wins}}
                            td {{team.losses}}
                            td {{team.ties}}
                            td {{team.win_percentage}}
                            td {{team.ppg}}
                            td {{team.papg}}
                            td {{team.margin}}
                            td(ng-repeat='pv in PSControl.pointScheme | orderBy:"value":true') {{team.pointMap[pv.value] || 0}}
                            td {{team.total_tuh}}
                            td {{team.total_points / team.total_tuh || 0 | number:2}}
                            td {{team.total_powers / team.total_negs || 0 | number:2}}
                            td {{team.raw_total_gets / team.total_negs || 0 | number:2}}
                            td {{team.ppb}}
            
            div(ng-if='PSControl.divisions.length > 0')
                div(ng-repeat='division in PSControl.divisions | orderBy:"division_name"')
                    .panel.panel-default.nf-shadow
                        table.table.table-hover.table-condensed.table-responsive
                            thead
                                tr
                                    th.nf-blue(colspan='{{PSControl.pointScheme.length + 14}}') {{division.division_name}}
                                tr
                                    th( title='Represents a team\'s overall standing in the tournament.') Rank
                                    th( title='Represents a team\'s name in this tournament.') Team
                                    th( title='The number of wins this team has.') W
                                    th( title='The number of losses this team has.') L
                                    th( title='The number of ties this team has.') T
                                    th( title='The % of games this team has won') Win Pct
                                    th( title='A team\'s average points per game.') PPG
                                    th( title='The average points per game scored against this team.') PAPG
                                    th( title='The average margin of victory for a team.') Margin
                                    th( ng-repeat='pv in PSControl.pointScheme | orderBy:"value":true' title='The total number of tossups this team got for this value') {{pv.value}}
                                    th( title='The total number of tossups a team heard.') TUH
                                    th( title='A team\'s ratio between total points and tossups heard.') PPTH
                                    th( title='A team\'s ratio between total powers and negs.') P / N
                                    th( title='A team\'s ratio between total gets and negs.') G / N
                                    th( title='A team\'s measure of successfully converting bonuses.') PPB
                            
                            tr(ng-repeat='team in PSControl.teamStats | filter:PSControl.teamQuery track by team.team_id' ng-if='team.division_id === division.division_id' ng-click='PSControl.tab = "team_full"; PSControl.setHashLocation(team.team_id)')
                                td {{team.rank}}
                                td {{team.team_name}}
                                td {{team.wins}}
                                td {{team.losses}}
                                td {{team.ties}}
                                td {{team.win_percentage}}
                                td {{team.ppg}}
                                td {{team.papg}}
                                td {{team.margin}}
                                td(ng-repeat='pv in PSControl.pointScheme | orderBy:"value":true') {{team.pointMap[pv.value] || 0}}
                                td {{team.total_tuh}}
                                td {{team.total_points / team.total_tuh || 0 | number:2}}
                                td {{team.total_powers / team.total_negs || 0 | number:2}}
                                td {{team.raw_total_gets / team.total_negs || 0 | number:2}}
                                td {{team.ppb}}
            
            .panel.panel-default.nf-shadow
                table.table.table-hover.table-condensed.table-responsive(ng-if='PSControl.unassignedTeams.length > 0')
                    thead
                        tr
                             th.nf-blue(colspan='{{PSControl.pointScheme.length + 14}}') Unassigned Teams
                        tr
                            th( title='Represents a team\'s overall standing in the tournament.') Rank
                            th( title='Represents a team\'s name in this tournament.') Team
                            th( title='The number of wins this team has.') W
                            th( title='The number of losses this team has.') L
                            th( title='The number of ties this team has.') T
                            th( title='The % of games this team has won') Win Pct
                            th( title='A team\'s average points per game.') PPG
                            th( title='The average points per game scored against this team.') PAPG
                            th( title='The average margin of victory for a team.') Margin
                            th( ng-repeat='pv in PSControl.pointScheme | orderBy:"value":true' title='The total number of tossups this team got for this value') {{pv.value}}
                            th( title='The total number of tossups a team heard.') TUH
                            th( title='A team\'s ratio between total points and tossups heard.') PPTH
                            th( title='A team\'s ratio between total powers and negs.') P / N
                            th( title='A team\'s ratio between total gets and negs.') G / N
                            th( title='A team\'s measure of successfully converting bonuses.') PPB
                    
                    tbody
                        tr(ng-repeat='team in PSControl.unassignedTeams | filter:PSControl.teamQuery track by team.team_id' ng-click='PSControl.tab = "team_full"; PSControl.setHashLocation(team.team_id)')
                            td {{team.rank}}
                            td {{team.team_name}}
                            td {{team.wins}}
                            td {{team.losses}}
                            td {{team.ties}}
                            td {{team.win_percentage}}
                            td {{team.ppg}}
                            td {{team.papg}}
                            td {{team.margin}}
                            td(ng-repeat='pv in PSControl.pointScheme | orderBy:"value":true') {{team.pointMap[pv.value] || 0}}
                            td {{team.total_tuh}}
                            td {{team.total_points / team.total_tuh || 0 | number:2}}
                            td {{team.total_powers / team.total_negs || 0 | number:2}}
                            td {{team.raw_total_gets / team.total_negs || 0 | number:2}}
                            td {{team.ppb}}