.row
    .col-lg-12
        div(class="panel panel-default nf-panel")
            div(class="collapsable nf-panel-heading nf-dark-blue") Individual Standings - {{PSControl.phase.name || 'All Games'}}
        
        .row
            .col-lg-4
                input(type="text" class="form-control nf-input search btn-shadow" placeholder="Search for Players" ng-model='PSControl.playerQuery')
        
        br

        table(class="table table-condensed nf-shadow")
            tr
                th(class="table-head nf-white" title='Represents a player\'s place in the standings.') Rank
                th(class="table-head nf-white" title='The player\'s name in the tournament.') Player Name
                th(class="table-head nf-white" title='The team the player is representing.') Team
                th(class='table-head nf-white' title='The number of total games this player played.') GP
                th(class="table-head nf-white" ng-repeat='pv in PSControl.pointScheme | orderBy:"value":true' title='The total number of tossups this player got for this value') {{pv.value}}
                th(class="table-head nf-white" title='A player\'s total number of tossups heard') TUH  
                th(class="table-head nf-white" title='A player\'s total number of points') Points
                th(class="table-head nf-white" title='A player\'s ratio between total points and tossups heard.') P / TU
                th(class="table-head nf-white" title='A player\'s points per game.') PPG

            tr(class='nf-list-item nf-dark-blue' ng-repeat='player in PSControl.playerStats | filter:PSControl.playerQuery track by player.player_id' ng-click='PSControl.tab = "player_full"; PSControl.setHashLocation(player.player_id)')
                td {{$index + 1}}
                td {{player.player_name}}
                td {{player.team_name}}
                td {{player.games_played}}
                td(ng-repeat='pv in PSControl.pointScheme | orderBy:"value":true') {{player.pointMap[pv.value] || 0}}
                td {{player.total_player_tuh}}
                td {{player.total_points}}
                td {{player.points_per_tossup}}
                td {{player.points_per_game}}