.row
    .col-lg-12
        div(style='padding:50px')
            .row
                .col-lg-4
                    input(type="text" class="form-control input-sm nf-input" placeholder="Search for Players" ng-model='PSControl.playerQuery')
            
            br
            
            .panel.panel-default.nf-shadow
                .table-responsive(keep-name-scroll)
                    table.table.table-hover.table-condensed.table-responsive
                        thead
                            tr
                                th.nf-gray(title='Represents a player\'s place in the standings.') Rank
                                th.nf-gray(title='The player\'s name in the tournament.') Player Name
                                th.nf-gray(title='The team the player is representing.') Team
                                th.nf-gray(title='The number of total games this player played.') GP
                                th.nf-gray(ng-repeat='pv in PSControl.pointScheme | orderBy:"value":true' title='The total number of tossups this player got for this value' ng-bind='pv.value')
                                th.nf-gray(title='A player\'s total number of tossups heard') TUH  
                                th.nf-gray(title='A player\'s total number of points') Points
                                th.nf-gray(title='A player\'s ratio between total points and tossups heard.') P / TU
                                th.nf-gray(title='A player\'s points per game.') PPG
                        tbody
                            tr(ng-repeat='player in PSControl.playerStats | filter:PSControl.playerQuery track by player.player_id')
                                td(ng-bind='$index + 1')
                                td
                                    a(href='#' ng-bind='player.player_name' ng-click='PSControl.tab = "player_full"; PSControl.setHashLocation(player.player_id)')
                                td(ng-bind='player.team_name')
                                td(ng-bind='player.games_played')
                                td(ng-repeat='pv in PSControl.pointScheme | orderBy:"value":true' ng-bind='player.pointMap[pv.value] || 0')
                                td(ng-bind='player.total_player_tuh')
                                td(ng-bind='player.total_points')
                                td(ng-bind='player.points_per_tossup') 
                                td(ng-bind='player.points_per_game')