.row
    .col-lg-12
        div(class="panel panel-default nf-panel")
            div(class="collapsable nf-panel-heading nf-dark-blue") Team Standings - {{PSControl.phase.name || 'All Games'}}                      
        .row
            .col-lg-4
                input(type="text" class="form-control nf-input search btn-shadow" placeholder="Search for Teams" ng-model='PSControl.teamQuery')

        br

        table(class="table table-condensed nf-shadow" ng-if='PSControl.divisions.length === 0')
            tr
                th(class="table-head nf-white" title='Represents a team\'s overall standing in the tournament.') Rank
                th(class="table-head nf-white" title='Represents a team\'s name in this tournament.') Team
                th(class="table-head nf-white" title='The number of wins this team has.') W
                th(class="table-head nf-white" title='The number of losses this team has.') L
                th(class="table-head nf-white" title='The number of ties this team has.') T
                th(class="table-head nf-white" title='The % of games this team has won') Win Pct
                th(class="table-head nf-white" title='A team\'s average points per game.') PPG
                th(class="table-head nf-white" title='The average points per game scored against this team.') PAPG
                th(class="table-head nf-white" title='The average margin of victory for a team.') Margin
                th(class="table-head nf-white" ng-repeat='pv in PSControl.pointScheme | orderBy:"value":true' title='The total number of tossups this team got for this value') {{pv.value}}
                th(class="table-head nf-white" title='The total number of tossups a team heard.') TUH
                th(class="table-head nf-white" title='A team\'s ratio between total points and tossups heard.') PPTH
                th(class="table-head nf-white" title='A team\'s ratio between total powers and negs.') P / N
                th(class="table-head nf-white" title='A team\'s ratio between total gets and negs.') G / N
                th(class="table-head nf-white" title='A team\'s measure of successfully converting bonuses.') PPB

            tr(class='nf-list-item nf-dark-blue' ng-repeat='team in PSControl.teamStats | filter:PSControl.teamQuery track by team.team_id')
                td {{team.rank}}
                td {{team.team_name}}
                td {{team.wins}}
                td {{team.losses}}
                td {{team.ties}}
                td {{team.win_percentage}}
                td {{team.ppg}}
                td {{team.papg}}
                td {{team.margin}}
                td(ng-repeat='pv in PSControl.pointScheme | orderBy:"value":true') {{team.pointMap[pv.value] || 0}}
                td {{team.total_tuh}}
                td {{team.total_points / team.total_tuh || 0 | number:2}}
                td {{team.total_powers / team.total_negs || 0 | number:2}}
                td {{team.raw_total_gets / team.total_negs || 0 | number:2}}
                td {{team.ppb}}
        
        div(ng-if='PSControl.divisions.length > 0')
            div(ng-repeat='division in PSControl.divisions | orderBy:"division_name"')
                .panel.panel-default.nf-panel
                    .nf-panel-heading.nf-dark-blue {{division.division_name}}
                    
                table(class="table table-condensed nf-shadow")
                    tr
                        th(class="table-head nf-white" title='Represents a team\'s overall standing in the tournament.') Rank
                        th(class="table-head nf-white" title='Represents a team\'s name in this tournament.') Team
                        th(class="table-head nf-white" title='The number of wins this team has.') W
                        th(class="table-head nf-white" title='The number of losses this team has.') L
                        th(class="table-head nf-white" title='The number of ties this team has.') T
                        th(class="table-head nf-white" title='The % of games this team has won') Win Pct
                        th(class="table-head nf-white" title='A team\'s average points per game.') PPG
                        th(class="table-head nf-white" title='The average points per game scored against this team.') PAPG
                        th(class="table-head nf-white" title='The average margin of victory for a team.') Margin
                        th(class="table-head nf-white" ng-repeat='pv in PSControl.pointScheme | orderBy:"value":true' title='The total number of tossups this team got for this value') {{pv.value}}
                        th(class="table-head nf-white" title='The total number of tossups a team heard.') TUH
                        th(class="table-head nf-white" title='A team\'s ratio between total points and tossups heard.') PPTH
                        th(class="table-head nf-white" title='A team\'s ratio between total powers and negs.') P / N
                        th(class="table-head nf-white" title='A team\'s ratio between total gets and negs.') G / N
                        th(class="table-head nf-white" title='A team\'s measure of successfully converting bonuses.') PPB
                    
                    tr(class='nf-list-item nf-dark-blue' ng-repeat='team in PSControl.teamStats | filter:PSControl.teamQuery track by team.team_id' ng-if='team.division_id === division.division_id')
                        td {{team.rank}}
                        td {{team.team_name}}
                        td {{team.wins}}
                        td {{team.losses}}
                        td {{team.ties}}
                        td {{team.win_percentage}}
                        td {{team.ppg}}
                        td {{team.papg}}
                        td {{team.margin}}
                        td(ng-repeat='pv in PSControl.pointScheme | orderBy:"value":true') {{team.pointMap[pv.value] || 0}}
                        td {{team.total_tuh}}
                        td {{team.total_points / team.total_tuh || 0 | number:2}}
                        td {{team.total_powers / team.total_negs || 0 | number:2}}
                        td {{team.raw_total_gets / team.total_negs || 0 | number:2}}
                        td {{team.ppb}}

        .panel.panel-default.nf-panel(ng-if='PSControl.unassignedTeams.length > 0')
            .nf-panel-heading.nf-dark-blue Teams Unassigned

        table(class="table table-condensed nf-shadow" ng-if='PSControl.unassignedTeams.length > 0')
            tr
                th(class="table-head nf-white" title='Represents a team\'s overall standing in the tournament.') Rank
                th(class="table-head nf-white" title='Represents a team\'s name in this tournament.') Team
                th(class="table-head nf-white" title='The number of wins this team has.') W
                th(class="table-head nf-white" title='The number of losses this team has.') L
                th(class="table-head nf-white" title='The number of ties this team has.') T
                th(class="table-head nf-white" title='The % of games this team has won') Win Pct
                th(class="table-head nf-white" title='A team\'s average points per game.') PPG
                th(class="table-head nf-white" title='The average points per game scored against this team.') PAPG
                th(class="table-head nf-white" title='The average margin of victory for a team.') Margin
                th(class="table-head nf-white" ng-repeat='pv in PSControl.pointScheme | orderBy:"value":true' title='The total number of tossups this team got for this value') {{pv.value}}
                th(class="table-head nf-white" title='The total number of tossups a team heard.') TUH
                th(class="table-head nf-white" title='A team\'s ratio between total points and tossups heard.') PPTH
                th(class="table-head nf-white" title='A team\'s ratio between total powers and negs.') P / N
                th(class="table-head nf-white" title='A team\'s ratio between total gets and negs.') G / N
                th(class="table-head nf-white" title='A team\'s measure of successfully converting bonuses.') PPB
            
            tr(class='nf-list-item nf-dark-blue' ng-repeat='team in PSControl.unassignedTeams | filter:PSControl.teamQuery track by team.team_id')
                td {{team.rank}}
                td {{team.team_name}}
                td {{team.wins}}
                td {{team.losses}}
                td {{team.ties}}
                td {{team.win_percentage}}
                td {{team.ppg}}
                td {{team.papg}}
                td {{team.margin}}
                td(ng-repeat='pv in PSControl.pointScheme | orderBy:"value":true') {{team.pointMap[pv.value] || 0}}
                td {{team.total_tuh}}
                td {{team.total_points / team.total_tuh || 0 | number:2}}
                td {{team.total_powers / team.total_negs || 0 | number:2}}
                td {{team.raw_total_gets / team.total_negs || 0 | number:2}}
                td {{team.ppb}}