.row
    .col-lg-12
        div(style='padding:50px')
            br
            .panel.panel-default.nf-shadow
                table.table.table-hover.table-condensed.table-responsive
                    thead
                        tr
                            th.nf-gray(title='Round') Round
                            th.nf-gray(title='Average points per game per team') PPG
                            th.nf-gray(title='Average tossup points per tossups heard.') TUPts / TUH
                            th.nf-gray(title='Average points per bonus for this round') PPB
                    tbody
                        tr(ng-repeat='stat in PSControl.roundReportStats track by stat.round')
                            td {{stat.round}}
                            td {{stat.ppg_round_average}}
                            td {{stat.round_cumulative_tossup_points / stat.round_tossups_heard | number:2}}
                            td {{stat.round_ppb}}